/* Sass Document */

/************************************** DEFINE MIXIN **********************************************/

@mixin border-radius($radius) {
	-webkit-border-radius: $radius;
	   -moz-border-radius: $radius;
		-ms-border-radius: $radius;
	 		border-radius: $radius;
}

@mixin gradient($fromColor, $toColor) {
	 background-color: $toColor; /* Fallback Color */
	 background-image: -webkit-gradient(linear, left top, left bottom, from($fromColor), to($toColor)); /* Saf4+, Chrome */
	 background-image: -webkit-gradient(top, $fromColor, $toColor); /* Chrome 10+, Saf5.1+, iOS 5+ */
	 background:    -moz-gradient(top, $fromColor, $toColor); /* FF3.6 */
	 background:     -ms-gradient(top, $fromColor, $toColor); /* IE10 */
	 background-image:      -o-gradient(top, $fromColor, $toColor); /* Opera 11.10+ */
	 background-image:        gradient(top, $fromColor, $toColor);
	 filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0, StartColorStr='#{$fromColor}', EndColorStr='#{$toColor}');
}

@mixin rotate($rotate) {
	-webkit-transform: rotate($rotate);
	   -moz-transform: rotate($rotate);
         -o-transform: rotate($rotate);
		-ms-transform: rotate($rotate);
			transform: rotate($rotate);
}

@mixin text-color($color) {
	-webkit-text-fill-color:$color;
	   -moz-text-fill-color:$color;
	     -o-text-fill-color:$color;
		-ms-text-fill-color:$color;
					 color: $color;
}


@mixin text-align($align) {
	-webkit-text-fill-color:$align;
	   -moz-text-fill-color:$align;
	     -o-text-fill-color:$align;
		-ms-text-fill-color:$align;
				text-align: $align;
}

@mixin background-color($color) {
 	background-color: $color;
}

@mixin top-buffer($px) {
	margin-top: $px;
}

@mixin bottom-buffer($px) {
	margin-bottom: $px;
}

@mixin left-buffer($px) {
 	margin-left: $px;
}

@mixin right-buffer($px) {
	margin-right: $px;
}

@mixin top-padding-buffer($px) {
	padding-top: $px;
}

@mixin bottom-padding-buffer($px) {
	padding-bottom: $px;
}

@mixin left-padding-buffer($px) {
	padding-left: $px;
}

@mixin right-padding-buffer($px) {
	padding-right: $px;
}

@mixin font-size($px) {
	font-size: $px;
}

@mixin bold-weight($px) {
	font-weight:$px;
}

@mixin width($px) {
	width:$px;
}

@mixin height($px) {
	height:$px;
}

/*--------------------------------------------- HOME PAGE -----------------------------------------*/

.header-top-border{
	@include height(5px);
	@include background-color(#096f8a);
}

.header-background-img{
	z-index:-1;
}

.header-custome-container{
	margin-left:0px;
	margin-right:0px;}	

.logo {
	z-index:1;
	position:absolute;
	top:25px;
	left:235px;
}

.header-navbar{
	z-index:1;
	position: absolute;
	top: 5px;
	left: 522px;
	width: 55%;
	right: 55px;	
}

.header-navbar-left{
	@include height(75px);
	@include background-color(#59c1d7);
	margin-right:-15px;
	border-bottom-left-radius: 7px;
	@include font-size(13px);
	font-family:helvetica;
	@include text-color(#064b5c);
}

.header-navbar-left a{
	@include text-color(#0b4d5e);
	text-decoration:none;
}

.slider_part{
	@include top-buffer(192px);
}

@media (min-width: 1200px) and (max-width: 1429px) { 
	/* Styles */
	
	.slider_part{
		@include top-buffer(195px);
		z-index:-1;
	}
	
	#inner{
		z-index:-1;
	}
}


@media (min-width: 1430px) and (max-width: 1499px) {
	/* Styles */
	
	.slider_part{
		@include top-buffer(205px);
	}
}


@media (min-width: 1500px) and (max-width: 1823px) {
	/* Styles */
	
	.slider_part{
		@include top-buffer(229px);
	}
}


/* Large screens ----------- */
@media only screen 
and (min-width : 1824px) {
	/* Styles */
	
	.slider_part{
		@include top-buffer(347px);
	}
}

.acordion_pos .panel-default > .panel-heading {
	@include text-color(#49494a);
	@include background-color(#ced8dc);
	border-color: #c1d2d1;
}

.drop_down_menu_cstm{
	top:92%;
	width:121px;
	left:10px;
}

@media (min-width: 1200px) and (max-width: 1399px) { 
	/* Styles */
	
	.drop_down_menu_cstm {
		top:92%;
		width:121px;
		left:10px !important;
	}
}


@media (min-width: 1400px) and (max-width: 1499px) {
	/* Styles */
	
	.drop_down_menu_cstm{
		top:92%;
		width:121px;
		left:10px;
	}
}


@media (min-width: 1500px) and (max-width: 1823px) {
	/* Styles */
	
	.drop_down_menu_cstm{
		top:92%;
		width:121px;
		left:30px;
	}
}


/* Large screens ----------- */
@media only screen 
and (min-width : 1824px) {
	/* Styles */
	
	.drop_down_menu_cstm{
		top:92%;
		width:121px;
		left:30px;
	}
}

.acordion_pos .panel-group .panel + .panel {
	margin-top: 0px;
}

.acordion_pos .panel-body {
	padding: 7px;
	@include background-color(#f8f8f8);
	@include text-color(#747575);
}

.acordion_pos .panel-default > .panel-heading + .panel-collapse {
	border-top-color: #ddd;
	@include background-color(#ced8dc);
}

.acordion_pos .panel-body a{
	@include text-color(#8f8d8d);
}

.header-navbar-right{
	@include height(75px);
	@include background-color(#9cc15d);
	margin-left:-15px;
	text-align:center;
	@include text-color(#374b21);
	@include font-size(20px);
	border-bottom-right-radius: 7px;
}

.padding-top-35{
	@include top-padding-buffer(35px)}
	
.padding-top-28{
	@include top-padding-buffer(28px);
}
	
.padding-top-21{
	@include top-padding-buffer(21px);
}
	
.border-left{
	border-left:1px solid #00a1c1;
}	

.border-right{
	border-right:1px solid #00a1c1;
}

.margin-left-0{
	@include left-buffer(0px);
}

.margin-right-0{
	@include right-buffer(0px);
}

.clr-blue{
	@include text-color(#064b5c);
}

.clr-black{
	@include text-color(#000);
}

.font-size-19{
	@include font-size(19px);
}

.navbar-bot-part{
	@include top-buffer(10px);
	z-index:9999;
}

.navbar-bot-part a{
	text-decoration:none;
}

.nav_bot_btn{
	min-width:103px;
}


.nav_bot_btn:hover, .nav_bot_btn:focus, .nav_bot_btn:active, .nav_bot_btn.active, .open .dropdown-toggle.btn-default {
	@include text-color(#000);
	@include background-color(#FFF);	
}

.margin-top-6{
	@include top-buffer(6px);
}



.middel-content{
	@include background-color(#e8e8e8);
	height:auto;	
	margin-top: -60px;
	border-bottom:1px solid #bab9b9;
}

.font-size-30{
	@include font-size(30px);
}

.dotted-line-gray{
	border:1px dotted #d3d3d1;
}

.dotted-line-white{
	border:1px dotted #f4f2f0;
}

.custome-container {
  padding-right: 20px;
  padding-left: 20px;
  margin-right: auto;
  margin-left: auto;
}
@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}
@media (min-width: 1200px) {
  .custome-container {
    width: 860px;
  }
}

.padding-left-0{
	@include left-padding-buffer(0px);}
	
.padding-right-0{
	@include right-padding-buffer(0px);}	

.margin-top-18{
	@include top-buffer(18px);
}

.margin-top-5{
	@include top-buffer(5px);
}

.font-col-dark-brown{
	@include text-color(#262626);
}

.btn-more{
	padding:7px;
}

.btn-more a{
	text-decoration:none;
}

.lear-more-btn{
	padding: 7px 7px 7px 7px;
	background-color: #6dccf0;
	border-radius: 5px;
	border:1px solid #2eabd5;
	@include text-color(#071c25);
	@include font-size(13px);
	font-family:'Helvetica';
}

.fnt-clr-green{
	@include text-color(#6e9f41);
}

.item-image{
	margin-left:0px;
}

.caption{
	position: absolute;
	color: #FFF;
	font-weight: bold;
	top: 212px;
	left: 104px;
	font-family:'Helvetica';
	@include font-size(19px);
}
	
.middle-sec-row{
	@include  background-color(#d0d0d0);
	height:auto;
	border-bottom:1px solid #c5c5c5;
	padding-bottom:30px;
	}

.simple-gray-line{
	border:1px solid #bdbcbc;
}	
	
.product-list{
	margin-top:30px;
}

.product_list_btn{
	@include width(190px);
	padding: 14px 20px;
	@include font-size(18px);
	font-family:'helvetica';
	@include gradient(#f4f3f3, #d4d4d4);
	@include text-color(#000000);
	@include border-radius(5px);
	box-shadow:0px 5px 4px #c1c0c0;
	border:1px solid #c5c5c4;
	background: -moz-linear-gradient(top,  #f4f3f3,  #d4d4d4);
}

.middle-sec-row a{
	text-decoration:none;
}

.padding-top-10{
	@include top-padding-buffer(10px);
}	

.padding-top-15{
	@include top-padding-buffer(15px);
}

.margin-top-30{
	@include top-buffer(30px);
}

.margin-left-24{
	@include left-buffer(24px);
}

.margin-top-60{
	@include top-buffer(60px);
}

.padding-72{
	padding:15px 72px;
}

.margin_left_15{
	@include left-buffer(15px);
}

.padding_58{
	padding:15px 58px;
}

.padding_60{
	padding:15px 60px;
}

.padding_78{
	padding:15px 78px;
}

.padding_76{
	padding:15px 76px;
}

.margin_left_50{
	@include left-buffer(50px);
}

.margin_left_35{
	@include left-buffer(35px);
}
.padding_70{
	padding:15px 70px;
}

.follow_us{
	@include text-color(#444445);
	@include font-size(15px);
	@include height(50px);
	@include  background-color(#d0d0d0);
}

.footer{
	@include  background-color(#2e2e2e);
	height:auto;
}

.f_top{
	@include text-color(#949494);
	@include top-padding-buffer(20px);
	@include bottom-padding-buffer(15px);
}

.f_top a{
	@include text-color(#949494);
	text-decoration:none;
}

.border_left_f{
	border-left:1px solid #444445;
}

.f_middle{
	@include bottom-padding-buffer(10px);
	
}

.f_bottom{
	@include text-color(#949494);
	@include font-size(12px);
}

.f_bottom a{
	@include text-color(#949494);
	text-decoration:underline;
	}

.padding_bottom_10{
	@include bottom-padding-buffer(10px);
}

.last_border{
	@include  background-color(#48443e);
	@include height(20px);
}

.social_icon_1{
	@include text-color(#FFF);
	@include  background-color(#af9f8d);
	padding: 5px 9px;
	border-radius: 13px;
	font-size: 13px;
}

.social_icon_2{
	@include text-color(#FFF);
	@include  background-color(#af9f8d);
	padding: 5px 7px;
	border-radius: 13px;
	font-size: 13px;
}


.pre-setting {
	font-size:40px;
	@include text-color(#666);
	font-weight:bolder;
}

.next-setting{
	font-size:40px;
	@include text-color(#666);
	font-weight:bolder;
}

.set{
	position: relative;
	left: 170px;
	top: -251px;
}

.set2{
	float: right;
	margin-right: 170px;
	margin-top: -250px;
}

/* Large screens ----------- */
@media only screen
and (min-width : 1824px) {
/* STYLES GO HERE */
	.set{
		position: relative;
		left: 409px;
		top: -251px;
	}
	
	.set2{
		float: right;
		margin-right: 409px;
		margin-top: -250px;
	}
	
	.pre-setting {
		font-size:50px;
		@include text-color(#666);
		font-weight:bolder;
	}

	.next-setting{
		font-size:50px;
		@include text-color(#666);
		font-weight:bolder;
	}


}


#circle{
	border-radius:50% 50% 50% 50%;		
	width:300px;
	height:300px;
}


.heading_middle_fnt{
	font-family:'Dancing Script';
	@include font-size(40px);
	font-weight:bold;
}

.persentage{
	@include top-buffer(10px);
}

.margin_right_20{
	@include right-buffer(20px);
}


#container_slider_circle {
	@include top-buffer(15px);
    width: 250px;
	height: 250px;
	/* background: #EFEFED; */
	border-radius: .3em;
	/* border: 1px solid #b9b9b9; */
}
   

#imgContainer {
    width: 270px;
	height: 249px;
	margin: 5%;
	box-sizing: border-box;
	background: #fff;
	position: relative;
	display: block;
	border-radius: 50%;
	border: 7px solid #FFF;
	overflow: hidden;

}

#imgContainer div {
            position: absolute;
			background: rgba(0,0,0,0.5);
			width: 100%;
			height: 28%;
			bottom: 0;
}
        
#imgContainer   img {
            width: inherit;
			height: inherit;
			position: relative;
			display: block;
			top: 0px;
			left: 0px;

    } 

/********************************************** LOG IN PAGE ************************************/

.header-section-subpage{
	background-image:url(../images/login_header.jpg);
}
.header_nav_Subpage{
	z-index: 1;
	position: absolute;
	top: 5px;
	left: 424px;
	width: 54%;
	right: 55px;
}

.logo_Subpage{
	z-index:1;
	position:absolute;
	top:12px;
	left:164px;
}

.custome-container-subpage{
	padding-right: 20px;
	padding-left: 20px;
	margin-right: auto;
	margin-left: auto;
 }

.subpage_middle_content{
	@include  background-color(#f1f0f0);
	height:auto;
	border-bottom:1px solid #d9d8d7;
} 
 
.top_border{
	@include top-buffer(60px);
	@include bottom-padding_buffer(15px);
}

.main_content{
	padding-bottom: 50px;
}
 
.top_border_dotted{
	border-top:1px dotted #d1d1d2;
}

.left-box{
	height:auto;
}

.top_box{
	@include background-color(#59b7cc);
	@include text-color(#144a56);
	font-family:helvetica;
	@include font-size(20px);
	border-top:1px solid #58bcd2;
	border-top-left-radius: 7px;
	border-top-right-radius: 7px;
	height: 45px;
	padding-top:9px;
	}
	
.right-content-top{
	@include gradient(#b9d17a, #a3c266);
	@include text-color(#202814);
	font-family:helvetica;
	@include font-size(18px);
	border-top-left-radius: 7px;
	border-top-right-radius: 7px;
	border-top:1px solid #a7c863;
	border-left:1px solid #a7c863;
	border-right:1px solid #a7c863;
	height: 35px;
	padding-top:4px;
}

.right-content-bottom{
	@include background-color(#FFF);	
	padding-bottom: 100px;
	box-shadow:2px 5px 4px #e0dfdf;
	border-bottom-left-radius:7px;
	border-bottom-right-radius:7px;
}

.login_form{
	font-family:helvetica;
	font-size:15px;
}

.login_form a{
	@include text-color(#949494);
	text-decoration:underline;
}

.margin_left_123{
	@include left-buffer(123px);
}

.login_form_btn{
	@include gradient(#f17473, #e8403f);
	border:1px solid #d52e2e;
	@include width(100px);
	@include text-color(#FFF);
	margin-left:124px;
	}
	
.create_acnt{
	margin-top:10px;
}	
	
.create_acnt a{
	@include text-color(#f3f3f2);
	font-size:16px;
	margin-left:109px;
}	

.bottom_box{
	@include background-color(#FFF);
	height:auto;
}

.bottom_box a{
	@include text-color(#4b4c4c);
	text-decoration:none;
}

.bottom_box a:hover {
	@include text-color(#698e3c);
	text-decoration:none;
}

.bottom_box  a:focus {
	/*padding:10px;*/
	background-color:#FFF;
}

.bottom_box_list_style{
	padding-top: 7px;
	padding-bottom: 7px;
	border-bottom:1px solid #f1f0f0;
	box-shadow: 1px 0px 0px #e0dfdf;
}

.last_box{
	box-shadow:2px 5px 4px #e0dfdf;
	
}

.left_box_middle{
	background-color:#FFF;
	@include top-buffer(35px);
	border-radius: 8px;
	height: 81px;
	box-shadow:2px 5px 4px #e0dfdf;

}

.margin_left_5{
	@include left_buffer(5px);
}

.img_call_pos{
	position:relative;
	top: -100px;
	left: 6px;
}

.free_toll{
	@include text-color(#f26722);
	margin-left: 90px;
	@include font-size(20px);
	font-family:helvetica;
}

.ph_number{
	margin-left:89px;
	@include font-size(20px);
}

.left_box_bot{
	background-color:#FFF;
	margin-top: -63px;
	border-radius: 7px;
	box-shadow:2px 5px 4px #e0dfdf;
}

.follow_us_login{
	@include text-color(#444445);
	@include font-size(15px);
	@include height(50px);
	@include  background-color(#f1f0ef);
}


.left_box_bot .bx-wrapper .bx-pager.bx-default-pager a {
	background: #000;
	border: 1px solid #000;
}

.left_box_bot .bx-wrapper .bx-pager.bx-default-pager a:hover, .bx-wrapper .bx-pager.bx-default-pager a.active {
	background: #F00;
	border: 1px solid #F00;
}

.bx-wrapper .bx-pager.bx-default-pager a:hover, .bx-wrapper .bx-pager.bx-default-pager a.active {
	background: #F00;
	border: 1px solid #F00;
}

/******************************************** REGISTER PAGE ***************************************/

.text_decoration_underline{
	text-decoration:underline;
}

/******************************************** My Account ******************************************/


.box_top_myaacount{
	@include top-padding-buffer(22px);
	@include left-buffer(21px);
	@include right-buffer(21px);
}

.left-top-box-header{
	border-bottom:1px solid #ebebeb;
	@include bottom-padding-buffer(5px);
}

.header_top_left_text{
	font-family:helvetica;
	@include font-size(18px);
}

.header_top_left_text{
	@include top-buffer(10px);
}

.header_top_left_text a{
	float:right;
	@include text-color(#F00);
	text-decoration:underline;
	@include font-size(15px);
}

.left-top-box-content{
	font-family:helvetica;
	@include font-size(16px);
	@include top-buffer(10px);
}

.right-top-box-header{
	@extend .left-top-box-header;
}

.header_top_right_text{
	@extend .header_top_left_text;
}

.right-top-box-content{
	@extend .left-top-box-content;
	}
	
.box-bottom-myaccount{
	@include top-buffer(10px);
}



.bottom_header{
	@include background-color(#afca71);
	@include text-color(#202814);
	font-family:helvetica;
	@include font-size(18px);
	border-top:1px solid #a7c863;
	border-left:1px solid #a7c863;
	border-right:1px solid #a7c863;
	height: 35px;
	padding-top:4px;
}

.box-bottom-myaacount-content{
	@include background-color(#faf9f8);
	@include top-padding-buffer(10px);
	@include bottom-padding-buffer(5px);
	height:auto;
}

.border_bottom_myaccout{
	border-bottom:1px solid #d1d1d2;
	@include bottom-buffer(10px);
	@include bottom-padding-buffer(10px);
}

.clr-red{
	@include text-color(#F00);
}

.margin_left_25{
	@include left-buffer(25px);
}

.bottom-left-text{
	font-family:helvetica;
	@include font-size(13px);
	@include text-color(#535353);
}

.bottom-right-text{
	font-family:helvetica;
	@include font-size(13px);
	@include text-color(#000);
}

.clr-grey{
	@include text-color(#656666);
}

/***************************************************** BUSINESS CARD PAGE ***************************************/

.num_of_template{
	/*position:absolute;
	top:28px; */
	@include top-buffer(26px);
	@include right-padding-buffer(5px);
	font-family:helvetica;
	@include font-size(15px);
	@include text-color(#000);
}

.padding_left_80{
	@include left-padding-buffer(80px);
}

.pagination-top{
	text-align:right;
}


.select_cat_btn{
	@include left-buffer(90px);
	@include right-buffer(90px);
	@include bottom-padding-buffer(10px);	
}

.btn_slect_cat{
	@include bottom-buffer(10px);
}

.business_card_btn{
	@include width(100px);
	@include gradient(#d2d2d2,#c8c7c6);
	@include text-color(#111111);
	border: 1px solid #c6c5c5;
	@include bottom-buffer(5px);
}

.business_card_btn:hover , .business_card_btn:focus, .business_card_btn:active, .business_card_btn.active{
	@include text-color(#111111);
	@include gradient(#7acbdc,#58b7cc);
}

.pagination-top .pagination > li > a:hover, .pagination > li > span:hover, .pagination > li > a:focus, .pagination > li  {
	color: #000;
	background-color: #eee;
	border-color: #ddd;
}

.pagination-top .pagination > li > a:hover, .pagination > li > span:hover, .pagination > li > a:focus, .pagination > li > span:focus {
	color: #FFF;
	background-color: #59c2d9;
	border-color: #ddd;
}

.pagination-top .pagination > li > a, .pagination > li > span{
	color:#000;
}

.middle_product_list{
	@include left-buffer(10px);
	border-bottom:1px solid #d1d1d2;
}

.custome_design{
	border:1px dotted #d0d0d0;
	@include border-radius(5px);
	@include bottom-padding-buffer(10px);
	@include bottom-buffer(22px);
	@include height(150px);
	@include background-color(#faf9f8);
	@include top-padding-buffer(12px);
}

.margin_left_40{
	@include left-buffer(40px);
}

.radio-btn{
	@include left-buffer(39px);
	@include bottom-buffer(30px);
}

.radio-btn a{
	@include text-color(#000);
	text-decoration:none;
}


.radio-btn2{
	@include left-buffer(65px);
	@include bottom-buffer(30px);
}

.radio-btn2 a{
	@include text-color(#000);
	text-decoration:none;
}
	
.template{
	@include background-color(#faf9f8);
	border:1px dotted #e9e8e8;
	padding:6px;
	@include border-radius(5px);
	@include bottom-buffer(22px);
	text-align: -webkit-right;
	text-align: -moz-right;
	@include height(150px);
}

/*********************************************** BUSINESS CARD DESCRIPTION *********************************/

.top_header_content{
	@include font-size(25px);
	@include text-color(#0f6071);
	@include top-padding-buffer(55px);
}

.top_border_desc{
	margin-top: 13px;
	padding-bottom: 15px;
}

.main_contetn_businesscard_dsc{
	@include background-color(#ffffff);
	border-top-left-radius: 5px;
	@include bottom-padding-buffer(50px);
	box-shadow:2px 5px 4px #e0dfdf;
	border-left:1px solid #e0dfdf;
	border-top:1px solid #e0dfdf;
}

.top_red_box{
	@include background-color(#e3373f);
	@include font-size(20px);
	@include height(50px);
	@include top-padding-buffer(11px);
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
}

.right_content_bottom_box{
	@include background-color(#ffffff);
	border:1px solid #dfdfde;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	@include top-buffer(-6px);
	padding-bottom:120px;
	box-shadow:2px 5px 4px #e0dfdf;
}

.unit_price_box{
	padding:8px;	
}

.unit_price_top{
	@include background-color(#5cc3d9);
	@include text-color(#171f1f);
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	font-family:helvetica;
	@include font-size(15px);
	@include top-padding-buffer(5px);
	@include height(35px);
	border:1px solid #62bacc;
}

.price_display{
	@include font-size(20px);
	float:right;
	font-weight:bold;
	@include right-padding-buffer(10px);
}

.unit_price_bottom{
	@include background-color(#f4f4f4);
	border-bottom:1px solid #e9e9e9;
	border-left:1px solid #e9e9e9;
	border-right:1px solid #e9e9e9;
	border-bottom-right-radius:5px;
	border-bottom-left-radius:5px
}

.template_choice{
	@include text-color(#5d5a5a);
	@include top-padding-buffer(10px);
}

.btn_dropdown{
	@include bottom-padding-buffer(15px);
	@include top-buffer(5px);
}

.desc_dropdown_btn{
	@include background-color(#f6f7f8);
	border-radius:5px;
	border:1px solid #9b9797;
}

.clr_orange{
	@include text-color(#ee6346);
}

.btn_text_clr{
	@include text-color(#343232);
}

.dropdown_desc_menu{
	@include top-buffer(0px);
	min-width:170px;
	
}

.pro_design_specification{
	@include left-buffer(10px);
}

.pro_specification_header{
	@include font-size(15px);
	font-family:helvetica;
}


.quetion_icon{
	@include text-color(#FFF);
	@include background-color(#3eaac1);
	padding: 3px 6px;
	border-radius: 13px;
	font-size: 13px;
}
.bottom_list_menu{
	left:0pxpx;
	min-width:123px;
	@include background-color(#f6f7f8);
	@include top-buffer(0px);
}

.margin_left_62{
	@include left-buffer(62px);
}

.margin_left_52{
	@include left-buffer(52px);
}

.margin_left_45{
	@include left-buffer(45px);
}

.bottom_select_optn{
	@include right-padding-buffer(23px);
	@include bottom-padding-buffer(20px);
}

.border_bottom_box{
	border-top:1px solid #ececeb;
	padding:5px;
	margin:0px 9px 0px 9px;
}


.estimated_completion_date_box{
	padding:5px;
}

.font_helvetica{
	font-family:helvetica;
}

.estimated_date_heading{
	@include font-size(17px);
	@include text-color(#000000);
}

.completetion_date_heading{
	@include background-color(#ed1c24);
	@include text-color(#FFFFFF);
	margin:0px 9px 10px 9px;
	font-family:helvetica;
	border-radius:5px;
	padding:10px 0px 10px 0px;
}

.add_to_cart_box{
	@include background-color(#f6f6f6);
	border-radius:5px;
	padding-top:15px;
	margin:5px 9px 20px 9px;
	padding-bottom:15px;
}

.fnt_size_22{
	@include font-size(22px);
}

.add_to_catr_btn{
	@include background-color(#f17473);
	@include text-color(#FFFFFF);
	font-family:helvetica;
	padding:5px 0px 5px 0px;
	margin:0px 80px 10px 80px;
	border-radius:5px;
}

.add_to_catr_btn a{
	color:#FFFFFF;
	text-decoration:none;
}

.upload_my_design_box{
	@include background-color(#f6f6f6);
	border-radius:5px;
	padding-top:15px;
	margin:5px 9px 0px 9px;
	padding-bottom:15px;
	margin-bottom:15px;
}

.text_upload{
	@include text-color(#656666);
	font-family:helvetica;
	@include font-size(13px);
}

.upload_btn{
	@include background-color(#45bfe9);
	@include text-color(#113643);
	font-family:helvetica;
	border-radius:5px;
	margin-right:8px;
	padding:7px;
}

.upload_btn a{
	@include text-color(#113643);
	text-decoration:none;
}

.ineed_btn{
	margin-left:14px;
}
.middle_desc{}

.slider_box{
	margin:10px -11px 0px 12px;
	margin-top: 10px;
	margin-left: 12px;
	margin-right: -11px;
	border:1px solid #f1f0f0;
}

.nav1{
	padding-left:25px;
	margin-bottom: 0;
	list-style: none;

}

.desc{
		
	margin-top:10px;
	min-height:100px;	
}

.desc_business_card{
		
	margin-top:10px;
}

.detail{
	@include gradient(#f8f9fa, #FFFFFF);
	height:auto;
	padding-left:31px;
	padding-top:25px;
}


.top_heading_desc{
	@include font-size(13px);
}

.list_pos{
	margin-left:-42px;
	@include font-size(13px);
}

.font_size_13{
	@include font-size(13px);
}

.design_desc{
	padding-top:5px;
	padding-left:7px;
	padding-right:7px;
	@include background-color(#FFFFFF);
	border:1px solid #f1f0f0;
	box-shadow:2px 5px 4px #e0dfdf;
	padding-bottom:90px;
}

.upload_ur_own_heading{
	margin-top:20px;
	padding-bottom:5px;
	border-bottom:1px solid #f1f0f0;
	margin-bottom:10px;
}

.browse_ur_item{
	@include background-color(#f5f6f6);
	@include left-buffer(-4px);
	@include left-padding-buffer(5px);
	@include bottom-padding-buffer(20px);
	@include bottom-buffer(10px);
}

.box_green{
	@include background-color(#bcd27c);
	@include gradient(#bcd27c, #a4c368);
	@include text-color(#202814);
	font-family:helvetica;
	border:1px solid #a7c863;
	@inluce font-size(17px);
	padding:40px 10px 40px 10px;
	
}

.font_size_17{
	@include font-size(17px);
}

.chechbox_1{
	@include left-buffer(90px);
	@include font-size(12px);
}

.next_btn{
	@include gradient(#f37676, #e8403f);
	border:1px solid #d52e2e;
	color:#FFFFFF;
	padding-left:25px;
	padding-right:25px;
	margin-right:10px;
}

.chechbox_2{
	
	@include font-size(12px);
}

.close_btn{
	position: relative;
	top: -11px;
	left: 19px;
	opacity: 2;
}

.modal-header_add {
	border-bottom:none;
}

.modal-header{
	min-height: 16.42857143px;
	padding:0px;
}
/********************************************* SHOPPING CART **********************************/


.shopping_cart_table_header{
	margin-left: 7px;
	margin-right: 8px;
	font-family:helvetica;
	@include text-color(#0091c5);
}

.fnt_clr_shopping_cart_grey{
	@inluce text-color(#676767);
}

.margin_left_7{
	@include left_buffer(7px);
}

.margin_right_7{
	@include right_buffer(7px);
}

.edit_row{
	color:#ed2024;
	text-decoration:underline;}

.edit_row a{
	color:#ed2024;
	text-decoration:underline;
}

.border_right_red{
	border-right:1px solid #ed2024;
}

.border_left_red{
	border-right:1px solid #ed2024;
}

.border_bottom_grey{
	border-bottom:1px solid #f1f0f0;
	margin-left:7px;
	margin-right:7px;
}

.total_heading{
	font-family:helvetica;
	font-size:18px;
}

.grey_btn{
	@include gradient(#808181, #5d5d5d);
	border:1px solid #737374;
	color:#FFFFFF;
	font-family:helvetica;
}

.btn_yellow{
	@include background-color(#fcca5d);
	border:1px solid #f4c152;
	border-radius:5px;
	color:#FFFFFF;
	font-family:helvetica;
	padding: 5px 15px 5px 15px;
}

.upload_photo_input{
	width: 321px;
	border-radius: 5px;
	@include height(35px);
	border:1px solid #e9e8e7;
}

.border_upload_div{
	border-top:1px solid #ebebeb;
	border-bottom:1px solid #ebebeb;
	border-right:1px solid #ebebeb;
	@include left-buffer(-14px);
	padding:20px 5px 21px 45px;
	@include background-color(#ffffff);
}

.img_btm_text{
	color:#888f92;
	@include font-size(11px);
	margin-left:5px;
}

.border_upload_div_dnld_btn{
	@extend .border_upload_div;
	border-left:1px solid #ebebeb;
	margin-left:-36px;
	margin-right:-30px;
	@include right-padding-buffer(27px);
}

.upload_photo_input_dnld_btn{
	@extend .upload_photo_input;
	
}

/*************************************************** BILLING ADDRESS AND SHIPPING ADDRESS ***********************************/

.add_form_label{
	font-family:'arial';
	@include font-size(15px);
	@include text-color(#696766);
}

.add_form_input{
	border-radius:0px;
}

.add_bot_box{
	@include top-padding-buffer(20px);
	@include left-buffer(40px);
	@include bottom-buffer(15px);
}

.address_box_map{	
	@include left-buffer(40px);
	border:1px solid #ebebeb;
	@include right-buffer(180px);
	@include height(151px);
}

.address_box{
	@include background-color(#f5f6f6);
	padding: 27px 7px 27px 5px;
}

	.address_main_name{
	font-family:'helvetica';
	@include font-size(18px);
	@include text-color(#000000);
}

.address_content{
	font-family:'helvetica';
	@include font-size(14px);
	@include text-color(#494849);
}

.add_btn_row{
	@include left-buffer(40px);
	@include right-buffer(25px);
	}
	
.map{
	width:120%;
	margin-left:-15px;
}

/********************************************* PAYMENT DETAIL *************************************/

.font_helvetic_18{
	font-family:'heletica';
	font-size:18px;
}

.payment_bottom_content{
	@include background-color(#faf9f8);
	border-bottom:1px solid #ebebeb;
	@include bottom-padding-buffer(10px);
}

.payment_bottom_content2{
	@include background-color(#fbfcfc);
	border-bottom:1px solid #ebebeb;
}

.main-content-right-box-bot-top-pay{
	padding-top: 20px;
	padding-bottom: 25px;
	font-family:'helvetica';
	@include font-size(17px);
}

.main-content-right-box-bot-bot-pay{
	font-size: 15px;
	padding-left: 24px;
	padding-bottom: 95px;
	font-family:'arial';
	@include text-color(#313131);
}

.pay_radio2 {
	padding-left: 33px;
}

.pay_radio3 {
	padding-left: 15px;
}

.pay_radio4 {
	margin-top: -32px;
	padding-left: 1px;
	margin-right:-30px;

}

.main-content-top-left-box-bot {
	padding-top: 15px;
	padding-bottom: 0px;
	padding-left: 20px;
}

.main-content-top-left-box-pay{
	border-right:1px solid #e4e3e3;
	margin-top:0px;
	@include bottom-padding-buffer(19px);
}

.fnt_16{
	font-family:'helvetica';
	@include font-size(16px);
}


.fnt_17{
	font-family:'helvetica';
	@include font-size(17px);
}

.fnt_aria_15{
	font-family:'arial';
	font-size:15px;
}

.margin-top--10{
	@include top-buffer(-10px);
}

.fnt_21{
	font-family:'helvetica';
	@include font-size(21px);
}

.fnt_22{
	font-family:'helvetica';
	@include font-size(22px);
}

.total_price_row{
	padding-top: 21px;
	padding-bottom: 100px;
	border-bottom:1px solid #ebebeb;
}

/****************************************** THANKS FOR ORDER PAGE *************************************/

.top_list_box{
	@include background-color(#f3f3f3);
	padding:5px;
	border:1px solid #e1e1e1;
	margin:5px;
	@include left-padding-buffer(5px);
	@include bottom-buffer(15px);
}

.padding-top-5{
	@include top-padding-buffer(5px);
}

.fnt_14{
	font-family:'helvetica';
	@include font-size(14px);
}

.fnt_18{
	font-family:'helvetica';
	@include font-size(18px);
}

.fnt_15{
	font-family:'helvetica';
	@include font-size(15px);
}

.fnt_13{
	font-family:'helvetica';
	@include font-size(13px);
}

/**************************************** ORDER REVIEW PAGE *******************************/

.order_review_main_content{
	@include background-color(#FFF);
	border:1px solid #f1f0f0;
	box-shadow:2px 5px 4px #e0dfdf;
	padding:20px 10px 30px 10px;
}

.order_review_header{
	@include text-color(#0091c5);
	@include top-buffer(10px);
	@include bottom-padding-buffer(5PX);
	border-bottom:1px solid #dce7f2;
}

.pic_view_box{
	border:1px solid #eeedec;
	@include left-buffer(0px);
	@include top-buffer(10px);
	padding:5px;
	@include bottom-padding-buffer(25px);
}

.front{
	@include bottom_buffer(20px);
}

.bottom_list_box{
	border:1px solid #eeedec;
	@include background-color(#f3f3f3);
	@include text-color(#000000);
	font-family:'helvetica';
	@include font-size(14px);
	@include top-buffer(20px);
	@include top-padding-buffer(10px);
}

.order_detail_top_box{
	@include top-buffer(25px);
	border-bottom:1px solid #dce7f2;
	@include bottom-padding-buffer(20px);
}

.left_side_fnt_clr{
	@include text-color(#646262);
}

.margin-top-10{
	@include top-buffer(10px);
}

.margin_left_70{
	@include left_buffer(70px);
}

.select {
	-webkit-appearance: menulist;
	box-sizing: border-box;
	align-items: center;
	border: 1px solid;
	border-image-source: initial;
	border-image-slice: initial;
	border-image-width: initial;
	border-image-outset: initial;
	border-image-repeat: initial;
	white-space: pre;
	-webkit-rtl-ordering: logical;
	color: black;
	background-color: #f7f8f8;
	cursor: default;
}

.select_drop_down_design{
	@include  border-radius(5px);
	border-radius: 5px;
	width:187px;
	background-color: #f7f8f8;	
	cursor:default;
	border:1px solid  #969292;
}

.select_drop_down_design1{
	@include  border-radius(5px);
	border-radius: 5px;
	background-color: #f7f8f8;	
	cursor:default;
	width:137px;
	border:1px solid  #969292;
}

.select_drop_down_design2{
	@include  border-radius(5px);
	border-radius: 5px;
	background-color: #f7f8f8;	
	cursor:default;
	width:178px;
	border:1px solid  #969292;
}

.form_border_radius_none{
	border-radius:0px;
}

.form-horizontal .control-label {
	text-align:left;
}

.margin_right_34{
	@include right-buffer(34px);
}

.fnt_12{
	font-family:'helvetica';
	font-size:12px;
}

.clr_light_grey{
	@include text-color(#a5a2a2);
}

.order_review_browse_btn{
	@include right-buffer(0px);
	@include left-buffer(-1px);
	@include left-padding-buffer(15px);
	@include right-padding-buffer(15px);
}

.box_checkbox{
	@include background-color(#f4f4f4);
	border:1px solid #e2e2e2;
	@include right-buffer(32px);
	padding-left:15px;
}

.margin_right_23{
	@include right-buffer(23px);
}

.fnt_20{
	@include font-size(20px);
	font-family:'Helvetica';
}

.fnt_19{
	@include font-size(19px);
	font-family:'Helvetica';
}

/***************************************** WEBSITE DESCRIPTION PAGE *****************************************/

.call_us_at_box{
	@include background-color(#f4f4f4);
	border:1px solid #e4e4e4;
	@include border-radius(5px);
	@include left-buffer(8px);
	@include right-buffer(8px);	
	@include top-padding-buffer(10px);
	@include bottom-padding-buffer(10px);
	
}

.num_box{
	@include gradient(#7ccbdb, #54b5ca);
	@include font-size(23px);
	font-family:'Helvetica';
	@include text-color(#164955);
	border:1px solid #6db7c7;
	@include border-radius(5px);
	@include bottom-buffer(10px);
	@include top-buffer(10px);
	@include bottom-padding-buffer(10px);
}

.border_grey{
	border-top:1px solid #ebebea;
	@include top-buffer(10px);
}

.request_form{
	margin:8px;
}

.request_form_header{
	@include background-color(#94bc5a);
	@include text-color(#2f401b);
	@include font-size(19px);
	font-family:'Helvetica';
	border-top-left-radius:5px;
	border-top-right-radius:5px;
	padding:8px;
}

.border_green{
	border-top:1px solid #7fa449;
	@include top-buffer(10px);
}

.request_form_content{
	@include background-color(#f4f4f4);
	border-bottom:1px solid #e4e4e4;
	border-left:1px solid #e4e4e4;
	border-right:1px solid #e4e4e4;
	padding:10px;
	@include font-size(15px);
	font-family:'Helvetica';
	border-bottom-left-radius:5px;
	border-bottom-right-radius:5px;
}


/***************************** REQUEST FOR WEBSITE TEMPLATE PAGE ***************************************/

.request_website_content{
	@include background-color(#ffffff);
	box-shadow:2px 5px 4px #e0dfdf;
	border-bottom-left-radius:5px;
	border-bottom-right-radius:5px;
	border-bottom:1px solid #e4e4e4;
	border-left:1px solid #e4e4e4;
	border-right:1px solid #e4e4e4;
	@include top-padding-buffer(20px);
	@include bottom-padding-buffer(60px);
	@include left-padding-buffer(15px);
	@include right-padding-buffer(15px);
}

.request_header{
	@include font-size(21px);
	font-family:'Helvetica';
	border-bottom:1px solid #ebebea;
	@include bottom-buffer(10px);
	@include bottom-padding-buffer(5px);
}

.call_us_at_box_website{
	@include background-color(#f4f4f4);
	border:1px solid #e4e4e4;
	@include top-padding-buffer(10px);
	@include bottom-padding-buffer(30px);
}

.request_form_content_website{
	@include background-color(#f4f4f4);
	border:1px solid #e4e4e4;
	padding:10px;
	@include font-size(15px);
	font-family:'Helvetica';
}

.request_form_website{
	@include bottom-buffer(15px);
}

/*********************************************** SALE PAGE *************************************/

.margin_bottom_18{
	@include bottom-buffer(18px);
}

.img_box{
	border:1px solid #e6e5e5;
	border-top-left-radius:5px;
	border-top-right-radius:5px;
}

.desc_box{
	@include background-color(#fdfeff);
	text-align:center;
	@include bottom-padding-buffer(10px);
	border-bottom-left-radius:5px;
	border-bottom-right-radius:5px;
	border-bottom:1px solid #e6e5e5;
	border-left:1px solid #e6e5e5;
	border-right:1px solid #e6e5e5;
}

.sale_desc{
	@include font-size(18px);
	font-family:'Helvetica';
	font-weight:bold;
	@include top-padding-buffer(10px);
	@include bottom-padding-buffer(10px);
	
}

.code_box{
	@include background-color(#7dcddc);
	@include text-color(#224f58);
	@include left-buffer(20px);
	@include right-buffer(20px);
	padding:5px;
}

.tag_red{
	position:absolute;
	top: 1px;
	left: 150px;
}

.sale_tag{
	font-family:Helvetica;
	font-weight:bold;
	@include text-color(#FFF);
	@include font-size(30px);
	position:absolute;
	top: 11px;
	left: 156px;
}

/******************************************* POS PAGE *******************************************************/

.bottom_box_pos{
	@include background-color(#ffffff);
	box-shadow:2px 5px 4px #e0dfdf;
	padding:25px;
	border:1px solid #dfdfde;
	@include text-color(#434343);
}

.pos_img{
	border:1px solid #dfdfde;
}

.bottom_header_POS{
	@include gradient(#bad178, #a3c265);
	border:1px solid #a7c863;
	@include text-color(#000000);
	@include font-size(17px);
	font-family:Helvetica;
	font-weight:bold;
	padding:5px;
	padding-left:25px;
	
}

.pos_bot_img_box{
	border:1px solid #c7c6c6;
}

.desc_box_pos{
	@include gradient(#929292,#707070);
	@include font-size(13px);
	font-family:Helvetica;
	font-weight:bold;
	@include text-color(#FFFFFF);
	padding:5px;
	padding-left:10px;
}

.padding_bottom_50{
	@include bottom-padding-buffer(50px);
}

/**************************************************** CONTACT PAGE **********************************/

.contact_content{
	@include background-color(#ffffff);
	box-shadow:2px 5px 4px #e0dfdf;
	border-bottom-left-radius:7px;
	border-bottom-right-radius:7px;
	
}

.google_map{
	@include bottom-buffer(30px);
}


.contact_info{
	@include bottom-buffer(10px);
}

.contact_header{
	@include font-size(22px);
	font-family:Helvetica;
	@include top-buffer(20px);
}

.clr_skyblue{
	color:#52b3c9;
}

.border_grey_line_width{
	width:41%;
	@include left-buffer(35px);
}

.contact_info_detail{
	@include left-buffer(35px);
	@include right-buffer(35px);
	@include bottom-padding-buffer(50px);
}

.badge_cstm{
	@include border-radius(50px);
	padding:29px 38px;
	@include gradient(#b8cf79,#a2c265);
}

.heading{
	@include font-size(15px);
	font-family:Helvetica;
	@include text-color(#515252);
}

.badge_cstm2{
	padding:29px 29px;
}

.badge_cstm3{
	padding:33px 29px;
}

.add_detail{
	@include font-size(15px);
	font-family:Helvetica;
	font-weight:lighter;
	}
	
.margin_left_10{
	@include left-buffer(10px);
}

.cnt_form a{
	color:#FFF;
}

.cnt_form{
	color:#FFF;
}

.form_div{
	@include bottom-padding-buffer(30px);
}

.padding_bottom_30{
	@include bottom-padding-buffer(30px);
}


/************************************** WITH DNLD BTN ************************************/

.top_list_box_dnld_btn{
	@include background-color(#f3f3f3);
	border:1px solid #e1e1e1;
	@include font-size(14px);
	font-family:Helvetica;
	color:#000;	
}

.margin_left_-17{
	@include left-buffer(-17px);
}


.upload_ur_own_heading_dnld_btn{
	margin-top:20px;
	padding-bottom:5px;
	border-bottom:1px solid #f1f0f0;
	margin-bottom:10px;
	margin-left: -8px;
	margin-right: -8px;
	padding-left: 13px;
}

.dnld_btn{
	padding: 30px 15px 25px 15px;
	@include top-buffer(15px);
}

.bot_text{
	@include text-color(#696969);
}

.dnld_bnt_skyblue{
	@include gradient(#7acbdc,#58b7cc);
	@include text-color(#FFF);
	@include font-size(14px);
	font-family:Helvetica;
	border:1px solid #61b2c2;
}

/********************************************** PAGE NOT FOUND (404) *******************************/

.page_nt_found_content{
	@include  background-color(#FFF);
	@include font-size(36px);
	font-family:'Helvetica';
	box-shadow:1px 2px 4px #c1c0c0;
	border:1px solid #c5c5c4;
}


.displayt_modal{
	display:block;
}


/************************************ Re - Enter PassWord Page *************************************/

.re_enter_pas_header{
	@include text-color(#000);
	@include top-buffer(20px);
	@include font-size(18px);
	font-family:'Helvetica';
	font-weight:bold;
}


.re-enter-pass_content{
	@include top-buffer(5px);
 }
 
 
 
 /*************************** Languge Select Button **************************************************/
 
.lag_select_li{
	min-width:102px;
	@include font-size(13px);
	border-radius:0px;
	margin:0px;
	float:none;
	left:41px;
}


@media (min-width: 1200px) and (max-width: 1399px) { 
	/* Styles */
	
	.lag_select_li{
		min-width:102px;
		@include font-size(13px);
		border-radius:0px;
		margin:0px;
		float:none;
		left:41px;
	}
}


@media (min-width: 1400px) and (max-width: 1499px) {
	/* Styles */
	
	.lag_select_li{
		min-width:102px;
		@include font-size(13px);
		border-radius:0px;
		margin:0px;
		float:none;
		left:43px;
	}
}


@media (min-width: 1500px) and (max-width: 1699px) {
	/* Styles */
	
	.lag_select_li{
		min-width:102px;
		@include font-size(13px);
		border-radius:0px;
		margin:0px;
		float:none;
		left:48px;
	}
}

@media (min-width: 1700px) and (max-width: 1823px) {
	/* Styles */
	
	.lag_select_li{
		min-width:102px;
		@include font-size(13px);
		border-radius:0px;
		margin:0px;
		float:none;
		left:61px;
	}
}


/* Large screens ----------- */
@media only screen 
and (min-width : 1824px) {
	/* Styles */
	
	.lag_select_li{
		min-width:102px;
		@include font-size(13px);
		border-radius:0px;
		margin:0px;
		float:none;
		left:61px;
	}
}

.lag_select_li > li > a {
	padding:0px;
}


.nav_bot_btn a{
	text-decoration:none;
}

.margin_top_42{
	@include top-buffer(42px);
}

.margin_top_40{
	@include top-buffer(40px);
}

.great-deal-slider{
	@include top-buffer(27px);
}

.margin_left_48{
	@include left-buffer(48px);
}

.lag_btn{
	padding: 5px 3px;
	background-color: #fff;
	border-color: #ccc;
	border-radius: 5px;
	width: 148px;
}

.lag_btn a{
	text-decoration:none;
}

.term_condition_box{
	@include  background-color(#f3f3f3);
	border:1px solid #cdcccc;
	@include text-color(#686868);
	@include top-buffer(15px);
	@include right-buffer(35px);
	@include font-size(12px);
	font-family:'Helvetica';
	padding:10px;
}

.term_condition_box a{
	text-decoration:underline;
	@include text-color(#000);
	font-weight:bold;
}

.backgroung_clr_purple{
	@include  background-color(#639);
	}

.clr_white{
	@include text-color(#FFF);
}	
	
.margin_top_-5{
	@include top-buffer(-5px);
}

.flower_pot{
	position:absolute;
	left:724px;
	z-index:9999;
}

@media (min-width: 1200px) and (max-width: 1429px) { 
	/* Styles */
	.flower_pot{
		position:absolute;
		left:723px;
		z-index:9999;
	}
	
}


@media (min-width: 1430px) and (max-width: 1499px) {
	/* Styles */
	.flower_pot{
		position:absolute;
		left:750px;
		z-index:9999;
	}
	
	.desc{		
		margin-top:10px;
		min-height:115px;	
	}
	
}


@media (min-width: 1500px) and (max-width: 1823px) {
	/* Styles */
	.flower_pot{
		position:absolute;
		left:767px;
		z-index:9999;
	}
	
	.desc{		
		margin-top:10px;
		min-height:115px;	
	}
	

}

/* Large screens ----------- */
@media only screen 
and (min-width : 1824px) {
	/* Styles */
	.flower_pot{
		position:absolute;
		left:880px;
		z-index:9999;
	}
	
	.desc{		
		margin-top:10px;
		min-height:125px;	
	}
	
}


.panel-group {
	margin-bottom: 0px;
}

.home_accordian{
	padding:0px;
	border:0px;
}

