html, body {
	height: 100%;
	padding: 0;
	margin: 0;
}
body {
	background-color: #69c;
	position: relative;
	min-height: 500px;
}
body * {
	font-family: Arial, Geneva, SunSans-Regular, sans-serif;
	font-size: 14px;
	color: #333;
	line-height: 22px;
}
 
#wrapper {
	width: 700px;
	height: 300px;
	margin: -180px 0 0 -350px;
	position: absolute;
	left: 50%;
	top: 50%;
	box-shadow: 0 5px 15px #013;
}
#carousel {
	width: 700px;
	height: 350px;
	overflow: hidden;
}
#carousel img {
	display: block;
	float: left;
}
 
#pager {
	text-align: right;
	padding: 20px 45px 0 0;
}
#pager a {
	background-color: #356;
	display: inline-block;
	width: 15px;
	height: 15px;
	margin-right: 6px;
	border-radius: 10px;
	box-shadow: 0 1px 1px #cef;
}
#pager a.selected {
	background-color: #134;
}
#pager a span {
	display: none;
}
 
#thumbs {
	display: none;
	border: 1px solid rgba(0, 0, 0, 0.8);
	background-color: rgba(0, 0, 0, 0.5);
	width: 150px;
	height: 60px;
	padding: 10px;
	position: absolute;
	top: 202px;
	right: 10px;
	z-index: 10;
}
#thumbs img {
	display: block;
	float: left;
}

@media (min-width: 1200px) and (max-width: 1399px) { 
	/* Styles */
	#inner {
		width: 650px;
		height: 400px;
		overflow: hidden;
		margin-left: -325px;
		position: absolute;
		bottom: -75px;
		left: 50%;
		z-index:-1;
	}
	
}

@media (min-width: 1400px) and (max-width: 1499px) {
	/* Styles */
	
	#inner {
		width: 650px;
		height: 400px;
		overflow: hidden;
		margin-left: -325px;
		position: absolute;
		bottom: -75px;
		left: 50%;
		z-index:-1;
	}
}

