/* Sass Document */
/************************************** DEFINE MIXIN **********************************************/
/*--------------------------------------------- HOME PAGE -----------------------------------------*/
/* line 102, ../sass/main.scss */
.header-top-border {
  height: 5px;
  background-color: #096f8a;
}

/* line 107, ../sass/main.scss */
.header-background-img {
  z-index: -1;
}

/* line 111, ../sass/main.scss */
.header-custome-container {
  margin-left: 0px;
  margin-right: 0px;
}

/* line 115, ../sass/main.scss */
.logo {
  z-index: 1;
  position: absolute;
  top: 25px;
  left: 235px;
}

/* line 122, ../sass/main.scss */
.header-navbar {
  z-index: 1;
  position: absolute;
  top: 5px;
  left: 522px;
  width: 55%;
  right: 55px;
}

/* line 131, ../sass/main.scss */
.header-navbar-left {
  height: 75px;
  background-color: #59c1d7;
  margin-right: -15px;
  border-bottom-left-radius: 7px;
  font-size: 13px;
  font-family: helvetica;
  -webkit-text-fill-color: #064b5c;
  -moz-text-fill-color: #064b5c;
  -o-text-fill-color: #064b5c;
  -ms-text-fill-color: #064b5c;
  color: #064b5c;
}

/* line 141, ../sass/main.scss */
.header-navbar-left a {
  -webkit-text-fill-color: #0b4d5e;
  -moz-text-fill-color: #0b4d5e;
  -o-text-fill-color: #0b4d5e;
  -ms-text-fill-color: #0b4d5e;
  color: #0b4d5e;
  text-decoration: none;
}

/* line 146, ../sass/main.scss */
.slider_part {
  margin-top: 192px;
}

@media (min-width: 1200px) and (max-width: 1429px) {
  /* Styles */
  /* line 153, ../sass/main.scss */
  .slider_part {
    margin-top: 195px;
    z-index: -1;
  }

  /* line 158, ../sass/main.scss */
  #inner {
    z-index: -1;
  }
}
@media (min-width: 1430px) and (max-width: 1499px) {
  /* Styles */
  /* line 167, ../sass/main.scss */
  .slider_part {
    margin-top: 205px;
  }
}
@media (min-width: 1500px) and (max-width: 1823px) {
  /* Styles */
  /* line 176, ../sass/main.scss */
  .slider_part {
    margin-top: 229px;
  }
}
/* Large screens ----------- */
@media only screen and (min-width: 1824px) {
  /* Styles */
  /* line 187, ../sass/main.scss */
  .slider_part {
    margin-top: 347px;
  }
}
/* line 192, ../sass/main.scss */
.acordion_pos .panel-default > .panel-heading {
  -webkit-text-fill-color: #49494a;
  -moz-text-fill-color: #49494a;
  -o-text-fill-color: #49494a;
  -ms-text-fill-color: #49494a;
  color: #49494a;
  background-color: #ced8dc;
  border-color: #c1d2d1;
}

/* line 198, ../sass/main.scss */
.drop_down_menu_cstm {
  top: 92%;
  width: 121px;
  left: 10px;
}

@media (min-width: 1200px) and (max-width: 1399px) {
  /* Styles */
  /* line 207, ../sass/main.scss */
  .drop_down_menu_cstm {
    top: 92%;
    width: 121px;
    left: 10px !important;
  }
}
@media (min-width: 1400px) and (max-width: 1499px) {
  /* Styles */
  /* line 218, ../sass/main.scss */
  .drop_down_menu_cstm {
    top: 92%;
    width: 121px;
    left: 10px;
  }
}
@media (min-width: 1500px) and (max-width: 1823px) {
  /* Styles */
  /* line 229, ../sass/main.scss */
  .drop_down_menu_cstm {
    top: 92%;
    width: 121px;
    left: 30px;
  }
}
/* Large screens ----------- */
@media only screen and (min-width: 1824px) {
  /* Styles */
  /* line 242, ../sass/main.scss */
  .drop_down_menu_cstm {
    top: 92%;
    width: 121px;
    left: 30px;
  }
}
/* line 249, ../sass/main.scss */
.acordion_pos .panel-group .panel + .panel {
  margin-top: 0px;
}

/* line 253, ../sass/main.scss */
.acordion_pos .panel-body {
  padding: 7px;
  background-color: #f8f8f8;
  -webkit-text-fill-color: #747575;
  -moz-text-fill-color: #747575;
  -o-text-fill-color: #747575;
  -ms-text-fill-color: #747575;
  color: #747575;
}

/* line 259, ../sass/main.scss */
.acordion_pos .panel-default > .panel-heading + .panel-collapse {
  border-top-color: #ddd;
  background-color: #ced8dc;
}

/* line 264, ../sass/main.scss */
.acordion_pos .panel-body a {
  -webkit-text-fill-color: #8f8d8d;
  -moz-text-fill-color: #8f8d8d;
  -o-text-fill-color: #8f8d8d;
  -ms-text-fill-color: #8f8d8d;
  color: #8f8d8d;
}

/* line 268, ../sass/main.scss */
.header-navbar-right {
  height: 75px;
  background-color: #9cc15d;
  margin-left: -15px;
  text-align: center;
  -webkit-text-fill-color: #374b21;
  -moz-text-fill-color: #374b21;
  -o-text-fill-color: #374b21;
  -ms-text-fill-color: #374b21;
  color: #374b21;
  font-size: 20px;
  border-bottom-right-radius: 7px;
}

/* line 278, ../sass/main.scss */
.padding-top-35 {
  padding-top: 35px;
}

/* line 281, ../sass/main.scss */
.padding-top-28 {
  padding-top: 28px;
}

/* line 285, ../sass/main.scss */
.padding-top-21 {
  padding-top: 21px;
}

/* line 289, ../sass/main.scss */
.border-left {
  border-left: 1px solid #00a1c1;
}

/* line 293, ../sass/main.scss */
.border-right {
  border-right: 1px solid #00a1c1;
}

/* line 297, ../sass/main.scss */
.margin-left-0 {
  margin-left: 0px;
}

/* line 301, ../sass/main.scss */
.margin-right-0 {
  margin-right: 0px;
}

/* line 305, ../sass/main.scss */
.clr-blue {
  -webkit-text-fill-color: #064b5c;
  -moz-text-fill-color: #064b5c;
  -o-text-fill-color: #064b5c;
  -ms-text-fill-color: #064b5c;
  color: #064b5c;
}

/* line 309, ../sass/main.scss */
.clr-black {
  -webkit-text-fill-color: black;
  -moz-text-fill-color: black;
  -o-text-fill-color: black;
  -ms-text-fill-color: black;
  color: black;
}

/* line 313, ../sass/main.scss */
.font-size-19 {
  font-size: 19px;
}

/* line 317, ../sass/main.scss */
.navbar-bot-part {
  margin-top: 10px;
  z-index: 9999;
}

/* line 322, ../sass/main.scss */
.navbar-bot-part a {
  text-decoration: none;
}

/* line 326, ../sass/main.scss */
.nav_bot_btn {
  min-width: 103px;
}

/* line 331, ../sass/main.scss */
.nav_bot_btn:hover, .nav_bot_btn:focus, .nav_bot_btn:active, .nav_bot_btn.active, .open .dropdown-toggle.btn-default {
  -webkit-text-fill-color: black;
  -moz-text-fill-color: black;
  -o-text-fill-color: black;
  -ms-text-fill-color: black;
  color: black;
  background-color: white;
}

/* line 336, ../sass/main.scss */
.margin-top-6 {
  margin-top: 6px;
}

/* line 342, ../sass/main.scss */
.middel-content {
  background-color: #e8e8e8;
  height: auto;
  margin-top: -60px;
  border-bottom: 1px solid #bab9b9;
}

/* line 349, ../sass/main.scss */
.font-size-30 {
  font-size: 30px;
}

/* line 353, ../sass/main.scss */
.dotted-line-gray {
  border: 1px dotted #d3d3d1;
}

/* line 357, ../sass/main.scss */
.dotted-line-white {
  border: 1px dotted #f4f2f0;
}

/* line 361, ../sass/main.scss */
.custome-container {
  padding-right: 20px;
  padding-left: 20px;
  margin-right: auto;
  margin-left: auto;
}

@media (min-width: 768px) {
  /* line 368, ../sass/main.scss */
  .container {
    width: 750px;
  }
}
@media (min-width: 992px) {
  /* line 373, ../sass/main.scss */
  .container {
    width: 970px;
  }
}
@media (min-width: 1200px) {
  /* line 378, ../sass/main.scss */
  .custome-container {
    width: 860px;
  }
}
/* line 383, ../sass/main.scss */
.padding-left-0 {
  padding-left: 0px;
}

/* line 386, ../sass/main.scss */
.padding-right-0 {
  padding-right: 0px;
}

/* line 389, ../sass/main.scss */
.margin-top-18 {
  margin-top: 18px;
}

/* line 393, ../sass/main.scss */
.margin-top-5 {
  margin-top: 5px;
}

/* line 397, ../sass/main.scss */
.font-col-dark-brown {
  -webkit-text-fill-color: #262626;
  -moz-text-fill-color: #262626;
  -o-text-fill-color: #262626;
  -ms-text-fill-color: #262626;
  color: #262626;
}

/* line 401, ../sass/main.scss */
.btn-more {
  padding: 7px;
}

/* line 405, ../sass/main.scss */
.btn-more a {
  text-decoration: none;
}

/* line 409, ../sass/main.scss */
.lear-more-btn {
  padding: 7px 7px 7px 7px;
  background-color: #6dccf0;
  border-radius: 5px;
  border: 1px solid #2eabd5;
  -webkit-text-fill-color: #071c25;
  -moz-text-fill-color: #071c25;
  -o-text-fill-color: #071c25;
  -ms-text-fill-color: #071c25;
  color: #071c25;
  font-size: 13px;
  font-family: 'Helvetica';
}

/* line 419, ../sass/main.scss */
.fnt-clr-green {
  -webkit-text-fill-color: #6e9f41;
  -moz-text-fill-color: #6e9f41;
  -o-text-fill-color: #6e9f41;
  -ms-text-fill-color: #6e9f41;
  color: #6e9f41;
}

/* line 423, ../sass/main.scss */
.item-image {
  margin-left: 0px;
}

/* line 427, ../sass/main.scss */
.caption {
  position: absolute;
  color: #FFF;
  font-weight: bold;
  top: 212px;
  left: 104px;
  font-family: 'Helvetica';
  font-size: 19px;
}

/* line 437, ../sass/main.scss */
.middle-sec-row {
  background-color: #d0d0d0;
  height: auto;
  border-bottom: 1px solid #c5c5c5;
  padding-bottom: 30px;
}

/* line 444, ../sass/main.scss */
.simple-gray-line {
  border: 1px solid #bdbcbc;
}

/* line 448, ../sass/main.scss */
.product-list {
  margin-top: 30px;
}

/* line 452, ../sass/main.scss */
.product_list_btn {
  width: 190px;
  padding: 14px 20px;
  font-size: 18px;
  font-family: 'helvetica';
  background-color: #d4d4d4;
  /* Fallback Color */
  background-image: -webkit-gradient(linear, left top, left bottom, from(#f4f3f3), to(#d4d4d4));
  /* Saf4+, Chrome */
  background-image: -webkit-gradient(top, #f4f3f3, #d4d4d4);
  /* Chrome 10+, Saf5.1+, iOS 5+ */
  background: -moz-gradient(top, #f4f3f3, #d4d4d4);
  /* FF3.6 */
  background: -ms-gradient(top, #f4f3f3, #d4d4d4);
  /* IE10 */
  background-image: -o-gradient(top, #f4f3f3, #d4d4d4);
  /* Opera 11.10+ */
  background-image: gradient(top, #f4f3f3, #d4d4d4);
  filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0, StartColorStr='#f4f3f3', EndColorStr='#d4d4d4');
  -webkit-text-fill-color: black;
  -moz-text-fill-color: black;
  -o-text-fill-color: black;
  -ms-text-fill-color: black;
  color: black;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  border-radius: 5px;
  box-shadow: 0px 5px 4px #c1c0c0;
  border: 1px solid #c5c5c4;
  background: -moz-linear-gradient(top, #f4f3f3, #d4d4d4);
}

/* line 465, ../sass/main.scss */
.middle-sec-row a {
  text-decoration: none;
}

/* line 469, ../sass/main.scss */
.padding-top-10 {
  padding-top: 10px;
}

/* line 473, ../sass/main.scss */
.padding-top-15 {
  padding-top: 15px;
}

/* line 477, ../sass/main.scss */
.margin-top-30 {
  margin-top: 30px;
}

/* line 481, ../sass/main.scss */
.margin-left-24 {
  margin-left: 24px;
}

/* line 485, ../sass/main.scss */
.margin-top-60 {
  margin-top: 60px;
}

/* line 489, ../sass/main.scss */
.padding-72 {
  padding: 15px 72px;
}

/* line 493, ../sass/main.scss */
.margin_left_15 {
  margin-left: 15px;
}

/* line 497, ../sass/main.scss */
.padding_58 {
  padding: 15px 58px;
}

/* line 501, ../sass/main.scss */
.padding_60 {
  padding: 15px 60px;
}

/* line 505, ../sass/main.scss */
.padding_78 {
  padding: 15px 78px;
}

/* line 509, ../sass/main.scss */
.padding_76 {
  padding: 15px 76px;
}

/* line 513, ../sass/main.scss */
.margin_left_50 {
  margin-left: 50px;
}

/* line 517, ../sass/main.scss */
.margin_left_35 {
  margin-left: 35px;
}

/* line 520, ../sass/main.scss */
.padding_70 {
  padding: 15px 70px;
}

/* line 524, ../sass/main.scss */
.follow_us {
  -webkit-text-fill-color: #444445;
  -moz-text-fill-color: #444445;
  -o-text-fill-color: #444445;
  -ms-text-fill-color: #444445;
  color: #444445;
  font-size: 15px;
  height: 50px;
  background-color: #d0d0d0;
}

/* line 531, ../sass/main.scss */
.footer {
  background-color: #2e2e2e;
  height: auto;
}

/* line 536, ../sass/main.scss */
.f_top {
  -webkit-text-fill-color: #949494;
  -moz-text-fill-color: #949494;
  -o-text-fill-color: #949494;
  -ms-text-fill-color: #949494;
  color: #949494;
  padding-top: 20px;
  padding-bottom: 15px;
}

/* line 542, ../sass/main.scss */
.f_top a {
  -webkit-text-fill-color: #949494;
  -moz-text-fill-color: #949494;
  -o-text-fill-color: #949494;
  -ms-text-fill-color: #949494;
  color: #949494;
  text-decoration: none;
}

/* line 547, ../sass/main.scss */
.border_left_f {
  border-left: 1px solid #444445;
}

/* line 551, ../sass/main.scss */
.f_middle {
  padding-bottom: 10px;
}

/* line 556, ../sass/main.scss */
.f_bottom {
  -webkit-text-fill-color: #949494;
  -moz-text-fill-color: #949494;
  -o-text-fill-color: #949494;
  -ms-text-fill-color: #949494;
  color: #949494;
  font-size: 12px;
}

/* line 561, ../sass/main.scss */
.f_bottom a {
  -webkit-text-fill-color: #949494;
  -moz-text-fill-color: #949494;
  -o-text-fill-color: #949494;
  -ms-text-fill-color: #949494;
  color: #949494;
  text-decoration: underline;
}

/* line 566, ../sass/main.scss */
.padding_bottom_10 {
  padding-bottom: 10px;
}

/* line 570, ../sass/main.scss */
.last_border {
  background-color: #48443e;
  height: 20px;
}

/* line 575, ../sass/main.scss */
.social_icon_1 {
  -webkit-text-fill-color: white;
  -moz-text-fill-color: white;
  -o-text-fill-color: white;
  -ms-text-fill-color: white;
  color: white;
  background-color: #af9f8d;
  padding: 5px 9px;
  border-radius: 13px;
  font-size: 13px;
}

/* line 583, ../sass/main.scss */
.social_icon_2 {
  -webkit-text-fill-color: white;
  -moz-text-fill-color: white;
  -o-text-fill-color: white;
  -ms-text-fill-color: white;
  color: white;
  background-color: #af9f8d;
  padding: 5px 7px;
  border-radius: 13px;
  font-size: 13px;
}

/* line 592, ../sass/main.scss */
.pre-setting {
  font-size: 40px;
  -webkit-text-fill-color: #666666;
  -moz-text-fill-color: #666666;
  -o-text-fill-color: #666666;
  -ms-text-fill-color: #666666;
  color: #666666;
  font-weight: bolder;
}

/* line 598, ../sass/main.scss */
.next-setting {
  font-size: 40px;
  -webkit-text-fill-color: #666666;
  -moz-text-fill-color: #666666;
  -o-text-fill-color: #666666;
  -ms-text-fill-color: #666666;
  color: #666666;
  font-weight: bolder;
}

/* line 604, ../sass/main.scss */
.set {
  position: relative;
  left: 170px;
  top: -251px;
}

/* line 610, ../sass/main.scss */
.set2 {
  float: right;
  margin-right: 170px;
  margin-top: -250px;
}

/* Large screens ----------- */
@media only screen and (min-width: 1824px) {
  /* STYLES GO HERE */
  /* line 620, ../sass/main.scss */
  .set {
    position: relative;
    left: 409px;
    top: -251px;
  }

  /* line 626, ../sass/main.scss */
  .set2 {
    float: right;
    margin-right: 409px;
    margin-top: -250px;
  }

  /* line 632, ../sass/main.scss */
  .pre-setting {
    font-size: 50px;
    -webkit-text-fill-color: #666666;
    -moz-text-fill-color: #666666;
    -o-text-fill-color: #666666;
    -ms-text-fill-color: #666666;
    color: #666666;
    font-weight: bolder;
  }

  /* line 638, ../sass/main.scss */
  .next-setting {
    font-size: 50px;
    -webkit-text-fill-color: #666666;
    -moz-text-fill-color: #666666;
    -o-text-fill-color: #666666;
    -ms-text-fill-color: #666666;
    color: #666666;
    font-weight: bolder;
  }
}
/* line 648, ../sass/main.scss */
#circle {
  border-radius: 50% 50% 50% 50%;
  width: 300px;
  height: 300px;
}

/* line 655, ../sass/main.scss */
.heading_middle_fnt {
  font-family: 'Dancing Script';
  font-size: 40px;
  font-weight: bold;
}

/* line 661, ../sass/main.scss */
.persentage {
  margin-top: 10px;
}

/* line 665, ../sass/main.scss */
.margin_right_20 {
  margin-right: 20px;
}

/* line 670, ../sass/main.scss */
#container_slider_circle {
  margin-top: 15px;
  width: 250px;
  height: 250px;
  /* background: #EFEFED; */
  border-radius: .3em;
  /* border: 1px solid #b9b9b9; */
}

/* line 680, ../sass/main.scss */
#imgContainer {
  width: 270px;
  height: 249px;
  margin: 5%;
  box-sizing: border-box;
  background: #fff;
  position: relative;
  display: block;
  border-radius: 50%;
  border: 7px solid #FFF;
  overflow: hidden;
}

/* line 694, ../sass/main.scss */
#imgContainer div {
  position: absolute;
  background: rgba(0, 0, 0, 0.5);
  width: 100%;
  height: 28%;
  bottom: 0;
}

/* line 702, ../sass/main.scss */
#imgContainer img {
  width: inherit;
  height: inherit;
  position: relative;
  display: block;
  top: 0px;
  left: 0px;
}

/********************************************** LOG IN PAGE ************************************/
/* line 714, ../sass/main.scss */
.header-section-subpage {
  background-image: url(../images/login_header.jpg);
}

/* line 717, ../sass/main.scss */
.header_nav_Subpage {
  z-index: 1;
  position: absolute;
  top: 5px;
  left: 424px;
  width: 54%;
  right: 55px;
}

/* line 726, ../sass/main.scss */
.logo_Subpage {
  z-index: 1;
  position: absolute;
  top: 12px;
  left: 164px;
}

/* line 733, ../sass/main.scss */
.custome-container-subpage {
  padding-right: 20px;
  padding-left: 20px;
  margin-right: auto;
  margin-left: auto;
}

/* line 740, ../sass/main.scss */
.subpage_middle_content {
  background-color: #f1f0f0;
  height: auto;
  border-bottom: 1px solid #d9d8d7;
}

/* line 746, ../sass/main.scss */
.top_border {
  margin-top: 60px;
  padding-bottom: 15px;
}

/* line 751, ../sass/main.scss */
.main_content {
  padding-bottom: 50px;
}

/* line 755, ../sass/main.scss */
.top_border_dotted {
  border-top: 1px dotted #d1d1d2;
}

/* line 759, ../sass/main.scss */
.left-box {
  height: auto;
}

/* line 763, ../sass/main.scss */
.top_box {
  background-color: #59b7cc;
  -webkit-text-fill-color: #144a56;
  -moz-text-fill-color: #144a56;
  -o-text-fill-color: #144a56;
  -ms-text-fill-color: #144a56;
  color: #144a56;
  font-family: helvetica;
  font-size: 20px;
  border-top: 1px solid #58bcd2;
  border-top-left-radius: 7px;
  border-top-right-radius: 7px;
  height: 45px;
  padding-top: 9px;
}

/* line 775, ../sass/main.scss */
.right-content-top {
  background-color: #a3c266;
  /* Fallback Color */
  background-image: -webkit-gradient(linear, left top, left bottom, from(#b9d17a), to(#a3c266));
  /* Saf4+, Chrome */
  background-image: -webkit-gradient(top, #b9d17a, #a3c266);
  /* Chrome 10+, Saf5.1+, iOS 5+ */
  background: -moz-gradient(top, #b9d17a, #a3c266);
  /* FF3.6 */
  background: -ms-gradient(top, #b9d17a, #a3c266);
  /* IE10 */
  background-image: -o-gradient(top, #b9d17a, #a3c266);
  /* Opera 11.10+ */
  background-image: gradient(top, #b9d17a, #a3c266);
  filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0, StartColorStr='#b9d17a', EndColorStr='#a3c266');
  -webkit-text-fill-color: #202814;
  -moz-text-fill-color: #202814;
  -o-text-fill-color: #202814;
  -ms-text-fill-color: #202814;
  color: #202814;
  font-family: helvetica;
  font-size: 18px;
  border-top-left-radius: 7px;
  border-top-right-radius: 7px;
  border-top: 1px solid #a7c863;
  border-left: 1px solid #a7c863;
  border-right: 1px solid #a7c863;
  height: 35px;
  padding-top: 4px;
}

/* line 789, ../sass/main.scss */
.right-content-bottom {
  background-color: white;
  padding-bottom: 100px;
  box-shadow: 2px 5px 4px #e0dfdf;
  border-bottom-left-radius: 7px;
  border-bottom-right-radius: 7px;
}

/* line 797, ../sass/main.scss */
.login_form {
  font-family: helvetica;
  font-size: 15px;
}

/* line 802, ../sass/main.scss */
.login_form a {
  -webkit-text-fill-color: #949494;
  -moz-text-fill-color: #949494;
  -o-text-fill-color: #949494;
  -ms-text-fill-color: #949494;
  color: #949494;
  text-decoration: underline;
}

/* line 807, ../sass/main.scss */
.margin_left_123 {
  margin-left: 123px;
}

/* line 811, ../sass/main.scss */
.login_form_btn {
  background-color: #e8403f;
  /* Fallback Color */
  background-image: -webkit-gradient(linear, left top, left bottom, from(#f17473), to(#e8403f));
  /* Saf4+, Chrome */
  background-image: -webkit-gradient(top, #f17473, #e8403f);
  /* Chrome 10+, Saf5.1+, iOS 5+ */
  background: -moz-gradient(top, #f17473, #e8403f);
  /* FF3.6 */
  background: -ms-gradient(top, #f17473, #e8403f);
  /* IE10 */
  background-image: -o-gradient(top, #f17473, #e8403f);
  /* Opera 11.10+ */
  background-image: gradient(top, #f17473, #e8403f);
  filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0, StartColorStr='#f17473', EndColorStr='#e8403f');
  border: 1px solid #d52e2e;
  width: 100px;
  -webkit-text-fill-color: white;
  -moz-text-fill-color: white;
  -o-text-fill-color: white;
  -ms-text-fill-color: white;
  color: white;
  margin-left: 124px;
}

/* line 819, ../sass/main.scss */
.create_acnt {
  margin-top: 10px;
}

/* line 823, ../sass/main.scss */
.create_acnt a {
  -webkit-text-fill-color: #f3f3f2;
  -moz-text-fill-color: #f3f3f2;
  -o-text-fill-color: #f3f3f2;
  -ms-text-fill-color: #f3f3f2;
  color: #f3f3f2;
  font-size: 16px;
  margin-left: 109px;
}

/* line 829, ../sass/main.scss */
.bottom_box {
  background-color: white;
  height: auto;
}

/* line 834, ../sass/main.scss */
.bottom_box a {
  -webkit-text-fill-color: #4b4c4c;
  -moz-text-fill-color: #4b4c4c;
  -o-text-fill-color: #4b4c4c;
  -ms-text-fill-color: #4b4c4c;
  color: #4b4c4c;
  text-decoration: none;
}

/* line 839, ../sass/main.scss */
.bottom_box a:hover {
  -webkit-text-fill-color: #698e3c;
  -moz-text-fill-color: #698e3c;
  -o-text-fill-color: #698e3c;
  -ms-text-fill-color: #698e3c;
  color: #698e3c;
  text-decoration: none;
}

/* line 844, ../sass/main.scss */
.bottom_box a:focus {
  /*padding:10px;*/
  background-color: #FFF;
}

/* line 849, ../sass/main.scss */
.bottom_box_list_style {
  padding-top: 7px;
  padding-bottom: 7px;
  border-bottom: 1px solid #f1f0f0;
  box-shadow: 1px 0px 0px #e0dfdf;
}

/* line 856, ../sass/main.scss */
.last_box {
  box-shadow: 2px 5px 4px #e0dfdf;
}

/* line 861, ../sass/main.scss */
.left_box_middle {
  background-color: #FFF;
  margin-top: 35px;
  border-radius: 8px;
  height: 81px;
  box-shadow: 2px 5px 4px #e0dfdf;
}

/* line 870, ../sass/main.scss */
.margin_left_5 {
  margin-left: 5px;
}

/* line 874, ../sass/main.scss */
.img_call_pos {
  position: relative;
  top: -100px;
  left: 6px;
}

/* line 880, ../sass/main.scss */
.free_toll {
  -webkit-text-fill-color: #f26722;
  -moz-text-fill-color: #f26722;
  -o-text-fill-color: #f26722;
  -ms-text-fill-color: #f26722;
  color: #f26722;
  margin-left: 90px;
  font-size: 20px;
  font-family: helvetica;
}

/* line 887, ../sass/main.scss */
.ph_number {
  margin-left: 89px;
  font-size: 20px;
}

/* line 892, ../sass/main.scss */
.left_box_bot {
  background-color: #FFF;
  margin-top: -63px;
  border-radius: 7px;
  box-shadow: 2px 5px 4px #e0dfdf;
}

/* line 899, ../sass/main.scss */
.follow_us_login {
  -webkit-text-fill-color: #444445;
  -moz-text-fill-color: #444445;
  -o-text-fill-color: #444445;
  -ms-text-fill-color: #444445;
  color: #444445;
  font-size: 15px;
  height: 50px;
  background-color: #f1f0ef;
}

/* line 907, ../sass/main.scss */
.left_box_bot .bx-wrapper .bx-pager.bx-default-pager a {
  background: #000;
  border: 1px solid #000;
}

/* line 912, ../sass/main.scss */
.left_box_bot .bx-wrapper .bx-pager.bx-default-pager a:hover, .bx-wrapper .bx-pager.bx-default-pager a.active {
  background: #F00;
  border: 1px solid #F00;
}

/* line 917, ../sass/main.scss */
.bx-wrapper .bx-pager.bx-default-pager a:hover, .bx-wrapper .bx-pager.bx-default-pager a.active {
  background: #F00;
  border: 1px solid #F00;
}

/******************************************** REGISTER PAGE ***************************************/
/* line 924, ../sass/main.scss */
.text_decoration_underline {
  text-decoration: underline;
}

/******************************************** My Account ******************************************/
/* line 931, ../sass/main.scss */
.box_top_myaacount {
  padding-top: 22px;
  margin-left: 21px;
  margin-right: 21px;
}

/* line 937, ../sass/main.scss */
.left-top-box-header, .right-top-box-header {
  border-bottom: 1px solid #ebebeb;
  padding-bottom: 5px;
}

/* line 942, ../sass/main.scss */
.header_top_left_text, .header_top_right_text {
  font-family: helvetica;
  font-size: 18px;
}

/* line 947, ../sass/main.scss */
.header_top_left_text, .header_top_right_text {
  margin-top: 10px;
}

/* line 951, ../sass/main.scss */
.header_top_left_text a, .header_top_right_text a {
  float: right;
  -webkit-text-fill-color: red;
  -moz-text-fill-color: red;
  -o-text-fill-color: red;
  -ms-text-fill-color: red;
  color: red;
  text-decoration: underline;
  font-size: 15px;
}

/* line 958, ../sass/main.scss */
.left-top-box-content, .right-top-box-content {
  font-family: helvetica;
  font-size: 16px;
  margin-top: 10px;
}

/* line 976, ../sass/main.scss */
.box-bottom-myaccount {
  margin-top: 10px;
}

/* line 982, ../sass/main.scss */
.bottom_header {
  background-color: #afca71;
  -webkit-text-fill-color: #202814;
  -moz-text-fill-color: #202814;
  -o-text-fill-color: #202814;
  -ms-text-fill-color: #202814;
  color: #202814;
  font-family: helvetica;
  font-size: 18px;
  border-top: 1px solid #a7c863;
  border-left: 1px solid #a7c863;
  border-right: 1px solid #a7c863;
  height: 35px;
  padding-top: 4px;
}

/* line 994, ../sass/main.scss */
.box-bottom-myaacount-content {
  background-color: #faf9f8;
  padding-top: 10px;
  padding-bottom: 5px;
  height: auto;
}

/* line 1001, ../sass/main.scss */
.border_bottom_myaccout {
  border-bottom: 1px solid #d1d1d2;
  margin-bottom: 10px;
  padding-bottom: 10px;
}

/* line 1007, ../sass/main.scss */
.clr-red {
  -webkit-text-fill-color: red;
  -moz-text-fill-color: red;
  -o-text-fill-color: red;
  -ms-text-fill-color: red;
  color: red;
}

/* line 1011, ../sass/main.scss */
.margin_left_25 {
  margin-left: 25px;
}

/* line 1015, ../sass/main.scss */
.bottom-left-text {
  font-family: helvetica;
  font-size: 13px;
  -webkit-text-fill-color: #535353;
  -moz-text-fill-color: #535353;
  -o-text-fill-color: #535353;
  -ms-text-fill-color: #535353;
  color: #535353;
}

/* line 1021, ../sass/main.scss */
.bottom-right-text {
  font-family: helvetica;
  font-size: 13px;
  -webkit-text-fill-color: black;
  -moz-text-fill-color: black;
  -o-text-fill-color: black;
  -ms-text-fill-color: black;
  color: black;
}

/* line 1027, ../sass/main.scss */
.clr-grey {
  -webkit-text-fill-color: #656666;
  -moz-text-fill-color: #656666;
  -o-text-fill-color: #656666;
  -ms-text-fill-color: #656666;
  color: #656666;
}

/***************************************************** BUSINESS CARD PAGE ***************************************/
/* line 1033, ../sass/main.scss */
.num_of_template {
  /*position:absolute;
  top:28px; */
  margin-top: 26px;
  padding-right: 5px;
  font-family: helvetica;
  font-size: 15px;
  -webkit-text-fill-color: black;
  -moz-text-fill-color: black;
  -o-text-fill-color: black;
  -ms-text-fill-color: black;
  color: black;
}

/* line 1043, ../sass/main.scss */
.padding_left_80 {
  padding-left: 80px;
}

/* line 1047, ../sass/main.scss */
.pagination-top {
  text-align: right;
}

/* line 1052, ../sass/main.scss */
.select_cat_btn {
  margin-left: 90px;
  margin-right: 90px;
  padding-bottom: 10px;
}

/* line 1058, ../sass/main.scss */
.btn_slect_cat {
  margin-bottom: 10px;
}

/* line 1062, ../sass/main.scss */
.business_card_btn {
  width: 100px;
  background-color: #c8c7c6;
  /* Fallback Color */
  background-image: -webkit-gradient(linear, left top, left bottom, from(#d2d2d2), to(#c8c7c6));
  /* Saf4+, Chrome */
  background-image: -webkit-gradient(top, #d2d2d2, #c8c7c6);
  /* Chrome 10+, Saf5.1+, iOS 5+ */
  background: -moz-gradient(top, #d2d2d2, #c8c7c6);
  /* FF3.6 */
  background: -ms-gradient(top, #d2d2d2, #c8c7c6);
  /* IE10 */
  background-image: -o-gradient(top, #d2d2d2, #c8c7c6);
  /* Opera 11.10+ */
  background-image: gradient(top, #d2d2d2, #c8c7c6);
  filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0, StartColorStr='#d2d2d2', EndColorStr='#c8c7c6');
  -webkit-text-fill-color: #111111;
  -moz-text-fill-color: #111111;
  -o-text-fill-color: #111111;
  -ms-text-fill-color: #111111;
  color: #111111;
  border: 1px solid #c6c5c5;
  margin-bottom: 5px;
}

/* line 1070, ../sass/main.scss */
.business_card_btn:hover, .business_card_btn:focus, .business_card_btn:active, .business_card_btn.active {
  -webkit-text-fill-color: #111111;
  -moz-text-fill-color: #111111;
  -o-text-fill-color: #111111;
  -ms-text-fill-color: #111111;
  color: #111111;
  background-color: #58b7cc;
  /* Fallback Color */
  background-image: -webkit-gradient(linear, left top, left bottom, from(#7acbdc), to(#58b7cc));
  /* Saf4+, Chrome */
  background-image: -webkit-gradient(top, #7acbdc, #58b7cc);
  /* Chrome 10+, Saf5.1+, iOS 5+ */
  background: -moz-gradient(top, #7acbdc, #58b7cc);
  /* FF3.6 */
  background: -ms-gradient(top, #7acbdc, #58b7cc);
  /* IE10 */
  background-image: -o-gradient(top, #7acbdc, #58b7cc);
  /* Opera 11.10+ */
  background-image: gradient(top, #7acbdc, #58b7cc);
  filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0, StartColorStr='#7acbdc', EndColorStr='#58b7cc');
}

/* line 1075, ../sass/main.scss */
.pagination-top .pagination > li > a:hover, .pagination > li > span:hover, .pagination > li > a:focus, .pagination > li {
  color: #000;
  background-color: #eee;
  border-color: #ddd;
}

/* line 1081, ../sass/main.scss */
.pagination-top .pagination > li > a:hover, .pagination > li > span:hover, .pagination > li > a:focus, .pagination > li > span:focus {
  color: #FFF;
  background-color: #59c2d9;
  border-color: #ddd;
}

/* line 1087, ../sass/main.scss */
.pagination-top .pagination > li > a, .pagination > li > span {
  color: #000;
}

/* line 1091, ../sass/main.scss */
.middle_product_list {
  margin-left: 10px;
  border-bottom: 1px solid #d1d1d2;
}

/* line 1096, ../sass/main.scss */
.custome_design {
  border: 1px dotted #d0d0d0;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  border-radius: 5px;
  padding-bottom: 10px;
  margin-bottom: 22px;
  height: 150px;
  background-color: #faf9f8;
  padding-top: 12px;
}

/* line 1106, ../sass/main.scss */
.margin_left_40 {
  margin-left: 40px;
}

/* line 1110, ../sass/main.scss */
.radio-btn {
  margin-left: 39px;
  margin-bottom: 30px;
}

/* line 1115, ../sass/main.scss */
.radio-btn a {
  -webkit-text-fill-color: black;
  -moz-text-fill-color: black;
  -o-text-fill-color: black;
  -ms-text-fill-color: black;
  color: black;
  text-decoration: none;
}

/* line 1121, ../sass/main.scss */
.radio-btn2 {
  margin-left: 65px;
  margin-bottom: 30px;
}

/* line 1126, ../sass/main.scss */
.radio-btn2 a {
  -webkit-text-fill-color: black;
  -moz-text-fill-color: black;
  -o-text-fill-color: black;
  -ms-text-fill-color: black;
  color: black;
  text-decoration: none;
}

/* line 1131, ../sass/main.scss */
.template {
  background-color: #faf9f8;
  border: 1px dotted #e9e8e8;
  padding: 6px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  border-radius: 5px;
  margin-bottom: 22px;
  text-align: -webkit-right;
  text-align: -moz-right;
  height: 150px;
}

/*********************************************** BUSINESS CARD DESCRIPTION *********************************/
/* line 1144, ../sass/main.scss */
.top_header_content {
  font-size: 25px;
  -webkit-text-fill-color: #0f6071;
  -moz-text-fill-color: #0f6071;
  -o-text-fill-color: #0f6071;
  -ms-text-fill-color: #0f6071;
  color: #0f6071;
  padding-top: 55px;
}

/* line 1150, ../sass/main.scss */
.top_border_desc {
  margin-top: 13px;
  padding-bottom: 15px;
}

/* line 1155, ../sass/main.scss */
.main_contetn_businesscard_dsc {
  background-color: white;
  border-top-left-radius: 5px;
  padding-bottom: 50px;
  box-shadow: 2px 5px 4px #e0dfdf;
  border-left: 1px solid #e0dfdf;
  border-top: 1px solid #e0dfdf;
}

/* line 1164, ../sass/main.scss */
.top_red_box {
  background-color: #e3373f;
  font-size: 20px;
  height: 50px;
  padding-top: 11px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

/* line 1173, ../sass/main.scss */
.right_content_bottom_box {
  background-color: white;
  border: 1px solid #dfdfde;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  margin-top: -6px;
  padding-bottom: 120px;
  box-shadow: 2px 5px 4px #e0dfdf;
}

/* line 1183, ../sass/main.scss */
.unit_price_box {
  padding: 8px;
}

/* line 1187, ../sass/main.scss */
.unit_price_top {
  background-color: #5cc3d9;
  -webkit-text-fill-color: #171f1f;
  -moz-text-fill-color: #171f1f;
  -o-text-fill-color: #171f1f;
  -ms-text-fill-color: #171f1f;
  color: #171f1f;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  font-family: helvetica;
  font-size: 15px;
  padding-top: 5px;
  height: 35px;
  border: 1px solid #62bacc;
}

/* line 1199, ../sass/main.scss */
.price_display {
  font-size: 20px;
  float: right;
  font-weight: bold;
  padding-right: 10px;
}

/* line 1206, ../sass/main.scss */
.unit_price_bottom {
  background-color: #f4f4f4;
  border-bottom: 1px solid #e9e9e9;
  border-left: 1px solid #e9e9e9;
  border-right: 1px solid #e9e9e9;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
}

/* line 1215, ../sass/main.scss */
.template_choice {
  -webkit-text-fill-color: #5d5a5a;
  -moz-text-fill-color: #5d5a5a;
  -o-text-fill-color: #5d5a5a;
  -ms-text-fill-color: #5d5a5a;
  color: #5d5a5a;
  padding-top: 10px;
}

/* line 1220, ../sass/main.scss */
.btn_dropdown {
  padding-bottom: 15px;
  margin-top: 5px;
}

/* line 1225, ../sass/main.scss */
.desc_dropdown_btn {
  background-color: #f6f7f8;
  border-radius: 5px;
  border: 1px solid #9b9797;
}

/* line 1231, ../sass/main.scss */
.clr_orange {
  -webkit-text-fill-color: #ee6346;
  -moz-text-fill-color: #ee6346;
  -o-text-fill-color: #ee6346;
  -ms-text-fill-color: #ee6346;
  color: #ee6346;
}

/* line 1235, ../sass/main.scss */
.btn_text_clr {
  -webkit-text-fill-color: #343232;
  -moz-text-fill-color: #343232;
  -o-text-fill-color: #343232;
  -ms-text-fill-color: #343232;
  color: #343232;
}

/* line 1239, ../sass/main.scss */
.dropdown_desc_menu {
  margin-top: 0px;
  min-width: 170px;
}

/* line 1245, ../sass/main.scss */
.pro_design_specification {
  margin-left: 10px;
}

/* line 1249, ../sass/main.scss */
.pro_specification_header {
  font-size: 15px;
  font-family: helvetica;
}

/* line 1255, ../sass/main.scss */
.quetion_icon {
  -webkit-text-fill-color: white;
  -moz-text-fill-color: white;
  -o-text-fill-color: white;
  -ms-text-fill-color: white;
  color: white;
  background-color: #3eaac1;
  padding: 3px 6px;
  border-radius: 13px;
  font-size: 13px;
}

/* line 1262, ../sass/main.scss */
.bottom_list_menu {
  left: 0pxpx;
  min-width: 123px;
  background-color: #f6f7f8;
  margin-top: 0px;
}

/* line 1269, ../sass/main.scss */
.margin_left_62 {
  margin-left: 62px;
}

/* line 1273, ../sass/main.scss */
.margin_left_52 {
  margin-left: 52px;
}

/* line 1277, ../sass/main.scss */
.margin_left_45 {
  margin-left: 45px;
}

/* line 1281, ../sass/main.scss */
.bottom_select_optn {
  padding-right: 23px;
  padding-bottom: 20px;
}

/* line 1286, ../sass/main.scss */
.border_bottom_box {
  border-top: 1px solid #ececeb;
  padding: 5px;
  margin: 0px 9px 0px 9px;
}

/* line 1293, ../sass/main.scss */
.estimated_completion_date_box {
  padding: 5px;
}

/* line 1297, ../sass/main.scss */
.font_helvetica {
  font-family: helvetica;
}

/* line 1301, ../sass/main.scss */
.estimated_date_heading {
  font-size: 17px;
  -webkit-text-fill-color: black;
  -moz-text-fill-color: black;
  -o-text-fill-color: black;
  -ms-text-fill-color: black;
  color: black;
}

/* line 1306, ../sass/main.scss */
.completetion_date_heading {
  background-color: #ed1c24;
  -webkit-text-fill-color: white;
  -moz-text-fill-color: white;
  -o-text-fill-color: white;
  -ms-text-fill-color: white;
  color: white;
  margin: 0px 9px 10px 9px;
  font-family: helvetica;
  border-radius: 5px;
  padding: 10px 0px 10px 0px;
}

/* line 1315, ../sass/main.scss */
.add_to_cart_box {
  background-color: #f6f6f6;
  border-radius: 5px;
  padding-top: 15px;
  margin: 5px 9px 20px 9px;
  padding-bottom: 15px;
}

/* line 1323, ../sass/main.scss */
.fnt_size_22 {
  font-size: 22px;
}

/* line 1327, ../sass/main.scss */
.add_to_catr_btn {
  background-color: #f17473;
  -webkit-text-fill-color: white;
  -moz-text-fill-color: white;
  -o-text-fill-color: white;
  -ms-text-fill-color: white;
  color: white;
  font-family: helvetica;
  padding: 5px 0px 5px 0px;
  margin: 0px 80px 10px 80px;
  border-radius: 5px;
}

/* line 1336, ../sass/main.scss */
.add_to_catr_btn a {
  color: #FFFFFF;
  text-decoration: none;
}

/* line 1341, ../sass/main.scss */
.upload_my_design_box {
  background-color: #f6f6f6;
  border-radius: 5px;
  padding-top: 15px;
  margin: 5px 9px 0px 9px;
  padding-bottom: 15px;
  margin-bottom: 15px;
}

/* line 1350, ../sass/main.scss */
.text_upload {
  -webkit-text-fill-color: #656666;
  -moz-text-fill-color: #656666;
  -o-text-fill-color: #656666;
  -ms-text-fill-color: #656666;
  color: #656666;
  font-family: helvetica;
  font-size: 13px;
}

/* line 1356, ../sass/main.scss */
.upload_btn {
  background-color: #45bfe9;
  -webkit-text-fill-color: #113643;
  -moz-text-fill-color: #113643;
  -o-text-fill-color: #113643;
  -ms-text-fill-color: #113643;
  color: #113643;
  font-family: helvetica;
  border-radius: 5px;
  margin-right: 8px;
  padding: 7px;
}

/* line 1365, ../sass/main.scss */
.upload_btn a {
  -webkit-text-fill-color: #113643;
  -moz-text-fill-color: #113643;
  -o-text-fill-color: #113643;
  -ms-text-fill-color: #113643;
  color: #113643;
  text-decoration: none;
}

/* line 1370, ../sass/main.scss */
.ineed_btn {
  margin-left: 14px;
}

/* line 1375, ../sass/main.scss */
.slider_box {
  margin: 10px -11px 0px 12px;
  margin-top: 10px;
  margin-left: 12px;
  margin-right: -11px;
  border: 1px solid #f1f0f0;
}

/* line 1383, ../sass/main.scss */
.nav1 {
  padding-left: 25px;
  margin-bottom: 0;
  list-style: none;
}

/* line 1390, ../sass/main.scss */
.desc {
  margin-top: 10px;
  min-height: 100px;
}

/* line 1396, ../sass/main.scss */
.desc_business_card {
  margin-top: 10px;
}

/* line 1401, ../sass/main.scss */
.detail {
  background-color: white;
  /* Fallback Color */
  background-image: -webkit-gradient(linear, left top, left bottom, from(#f8f9fa), to(white));
  /* Saf4+, Chrome */
  background-image: -webkit-gradient(top, #f8f9fa, white);
  /* Chrome 10+, Saf5.1+, iOS 5+ */
  background: -moz-gradient(top, #f8f9fa, white);
  /* FF3.6 */
  background: -ms-gradient(top, #f8f9fa, white);
  /* IE10 */
  background-image: -o-gradient(top, #f8f9fa, white);
  /* Opera 11.10+ */
  background-image: gradient(top, #f8f9fa, white);
  filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0, StartColorStr='#f8f9fa', EndColorStr='white');
  height: auto;
  padding-left: 31px;
  padding-top: 25px;
}

/* line 1409, ../sass/main.scss */
.top_heading_desc {
  font-size: 13px;
}

/* line 1413, ../sass/main.scss */
.list_pos {
  margin-left: -42px;
  font-size: 13px;
}

/* line 1418, ../sass/main.scss */
.font_size_13 {
  font-size: 13px;
}

/* line 1422, ../sass/main.scss */
.design_desc {
  padding-top: 5px;
  padding-left: 7px;
  padding-right: 7px;
  background-color: white;
  border: 1px solid #f1f0f0;
  box-shadow: 2px 5px 4px #e0dfdf;
  padding-bottom: 90px;
}

/* line 1432, ../sass/main.scss */
.upload_ur_own_heading {
  margin-top: 20px;
  padding-bottom: 5px;
  border-bottom: 1px solid #f1f0f0;
  margin-bottom: 10px;
}

/* line 1439, ../sass/main.scss */
.browse_ur_item {
  background-color: #f5f6f6;
  margin-left: -4px;
  padding-left: 5px;
  padding-bottom: 20px;
  margin-bottom: 10px;
}

/* line 1447, ../sass/main.scss */
.box_green {
  background-color: #bcd27c;
  background-color: #a4c368;
  /* Fallback Color */
  background-image: -webkit-gradient(linear, left top, left bottom, from(#bcd27c), to(#a4c368));
  /* Saf4+, Chrome */
  background-image: -webkit-gradient(top, #bcd27c, #a4c368);
  /* Chrome 10+, Saf5.1+, iOS 5+ */
  background: -moz-gradient(top, #bcd27c, #a4c368);
  /* FF3.6 */
  background: -ms-gradient(top, #bcd27c, #a4c368);
  /* IE10 */
  background-image: -o-gradient(top, #bcd27c, #a4c368);
  /* Opera 11.10+ */
  background-image: gradient(top, #bcd27c, #a4c368);
  filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0, StartColorStr='#bcd27c', EndColorStr='#a4c368');
  -webkit-text-fill-color: #202814;
  -moz-text-fill-color: #202814;
  -o-text-fill-color: #202814;
  -ms-text-fill-color: #202814;
  color: #202814;
  font-family: helvetica;
  border: 1px solid #a7c863;
  @inluce font-size(17px);
  padding: 40px 10px 40px 10px;
}

/* line 1458, ../sass/main.scss */
.font_size_17 {
  font-size: 17px;
}

/* line 1462, ../sass/main.scss */
.chechbox_1 {
  margin-left: 90px;
  font-size: 12px;
}

/* line 1467, ../sass/main.scss */
.next_btn {
  background-color: #e8403f;
  /* Fallback Color */
  background-image: -webkit-gradient(linear, left top, left bottom, from(#f37676), to(#e8403f));
  /* Saf4+, Chrome */
  background-image: -webkit-gradient(top, #f37676, #e8403f);
  /* Chrome 10+, Saf5.1+, iOS 5+ */
  background: -moz-gradient(top, #f37676, #e8403f);
  /* FF3.6 */
  background: -ms-gradient(top, #f37676, #e8403f);
  /* IE10 */
  background-image: -o-gradient(top, #f37676, #e8403f);
  /* Opera 11.10+ */
  background-image: gradient(top, #f37676, #e8403f);
  filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0, StartColorStr='#f37676', EndColorStr='#e8403f');
  border: 1px solid #d52e2e;
  color: #FFFFFF;
  padding-left: 25px;
  padding-right: 25px;
  margin-right: 10px;
}

/* line 1476, ../sass/main.scss */
.chechbox_2 {
  font-size: 12px;
}

/* line 1481, ../sass/main.scss */
.close_btn {
  position: relative;
  top: -11px;
  left: 19px;
  opacity: 2;
}

/* line 1488, ../sass/main.scss */
.modal-header_add {
  border-bottom: none;
}

/* line 1492, ../sass/main.scss */
.modal-header {
  min-height: 16.42857143px;
  padding: 0px;
}

/********************************************* SHOPPING CART **********************************/
/* line 1499, ../sass/main.scss */
.shopping_cart_table_header {
  margin-left: 7px;
  margin-right: 8px;
  font-family: helvetica;
  -webkit-text-fill-color: #0091c5;
  -moz-text-fill-color: #0091c5;
  -o-text-fill-color: #0091c5;
  -ms-text-fill-color: #0091c5;
  color: #0091c5;
}

/* line 1506, ../sass/main.scss */
.fnt_clr_shopping_cart_grey {
  @inluce text-color(#676767);
}

/* line 1510, ../sass/main.scss */
.margin_left_7 {
  margin-left: 7px;
}

/* line 1514, ../sass/main.scss */
.margin_right_7 {
  margin-right: 7px;
}

/* line 1518, ../sass/main.scss */
.edit_row {
  color: #ed2024;
  text-decoration: underline;
}

/* line 1522, ../sass/main.scss */
.edit_row a {
  color: #ed2024;
  text-decoration: underline;
}

/* line 1527, ../sass/main.scss */
.border_right_red {
  border-right: 1px solid #ed2024;
}

/* line 1531, ../sass/main.scss */
.border_left_red {
  border-right: 1px solid #ed2024;
}

/* line 1535, ../sass/main.scss */
.border_bottom_grey {
  border-bottom: 1px solid #f1f0f0;
  margin-left: 7px;
  margin-right: 7px;
}

/* line 1541, ../sass/main.scss */
.total_heading {
  font-family: helvetica;
  font-size: 18px;
}

/* line 1546, ../sass/main.scss */
.grey_btn {
  background-color: #5d5d5d;
  /* Fallback Color */
  background-image: -webkit-gradient(linear, left top, left bottom, from(#808181), to(#5d5d5d));
  /* Saf4+, Chrome */
  background-image: -webkit-gradient(top, #808181, #5d5d5d);
  /* Chrome 10+, Saf5.1+, iOS 5+ */
  background: -moz-gradient(top, #808181, #5d5d5d);
  /* FF3.6 */
  background: -ms-gradient(top, #808181, #5d5d5d);
  /* IE10 */
  background-image: -o-gradient(top, #808181, #5d5d5d);
  /* Opera 11.10+ */
  background-image: gradient(top, #808181, #5d5d5d);
  filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0, StartColorStr='#808181', EndColorStr='#5d5d5d');
  border: 1px solid #737374;
  color: #FFFFFF;
  font-family: helvetica;
}

/* line 1553, ../sass/main.scss */
.btn_yellow {
  background-color: #fcca5d;
  border: 1px solid #f4c152;
  border-radius: 5px;
  color: #FFFFFF;
  font-family: helvetica;
  padding: 5px 15px 5px 15px;
}

/* line 1562, ../sass/main.scss */
.upload_photo_input, .upload_photo_input_dnld_btn {
  width: 321px;
  border-radius: 5px;
  height: 35px;
  border: 1px solid #e9e8e7;
}

/* line 1569, ../sass/main.scss */
.border_upload_div, .border_upload_div_dnld_btn {
  border-top: 1px solid #ebebeb;
  border-bottom: 1px solid #ebebeb;
  border-right: 1px solid #ebebeb;
  margin-left: -14px;
  padding: 20px 5px 21px 45px;
  background-color: white;
}

/* line 1578, ../sass/main.scss */
.img_btm_text {
  color: #888f92;
  font-size: 11px;
  margin-left: 5px;
}

/* line 1584, ../sass/main.scss */
.border_upload_div_dnld_btn {
  border-left: 1px solid #ebebeb;
  margin-left: -36px;
  margin-right: -30px;
  padding-right: 27px;
}

/*************************************************** BILLING ADDRESS AND SHIPPING ADDRESS ***********************************/
/* line 1599, ../sass/main.scss */
.add_form_label {
  font-family: 'arial';
  font-size: 15px;
  -webkit-text-fill-color: #696766;
  -moz-text-fill-color: #696766;
  -o-text-fill-color: #696766;
  -ms-text-fill-color: #696766;
  color: #696766;
}

/* line 1605, ../sass/main.scss */
.add_form_input {
  border-radius: 0px;
}

/* line 1609, ../sass/main.scss */
.add_bot_box {
  padding-top: 20px;
  margin-left: 40px;
  margin-bottom: 15px;
}

/* line 1615, ../sass/main.scss */
.address_box_map {
  margin-left: 40px;
  border: 1px solid #ebebeb;
  margin-right: 180px;
  height: 151px;
}

/* line 1622, ../sass/main.scss */
.address_box {
  background-color: #f5f6f6;
  padding: 27px 7px 27px 5px;
}

/* line 1627, ../sass/main.scss */
.address_main_name {
  font-family: 'helvetica';
  font-size: 18px;
  -webkit-text-fill-color: black;
  -moz-text-fill-color: black;
  -o-text-fill-color: black;
  -ms-text-fill-color: black;
  color: black;
}

/* line 1633, ../sass/main.scss */
.address_content {
  font-family: 'helvetica';
  font-size: 14px;
  -webkit-text-fill-color: #494849;
  -moz-text-fill-color: #494849;
  -o-text-fill-color: #494849;
  -ms-text-fill-color: #494849;
  color: #494849;
}

/* line 1639, ../sass/main.scss */
.add_btn_row {
  margin-left: 40px;
  margin-right: 25px;
}

/* line 1644, ../sass/main.scss */
.map {
  width: 120%;
  margin-left: -15px;
}

/********************************************* PAYMENT DETAIL *************************************/
/* line 1651, ../sass/main.scss */
.font_helvetic_18 {
  font-family: 'heletica';
  font-size: 18px;
}

/* line 1656, ../sass/main.scss */
.payment_bottom_content {
  background-color: #faf9f8;
  border-bottom: 1px solid #ebebeb;
  padding-bottom: 10px;
}

/* line 1662, ../sass/main.scss */
.payment_bottom_content2 {
  background-color: #fbfcfc;
  border-bottom: 1px solid #ebebeb;
}

/* line 1667, ../sass/main.scss */
.main-content-right-box-bot-top-pay {
  padding-top: 20px;
  padding-bottom: 25px;
  font-family: 'helvetica';
  font-size: 17px;
}

/* line 1674, ../sass/main.scss */
.main-content-right-box-bot-bot-pay {
  font-size: 15px;
  padding-left: 24px;
  padding-bottom: 95px;
  font-family: 'arial';
  -webkit-text-fill-color: #313131;
  -moz-text-fill-color: #313131;
  -o-text-fill-color: #313131;
  -ms-text-fill-color: #313131;
  color: #313131;
}

/* line 1682, ../sass/main.scss */
.pay_radio2 {
  padding-left: 33px;
}

/* line 1686, ../sass/main.scss */
.pay_radio3 {
  padding-left: 15px;
}

/* line 1690, ../sass/main.scss */
.pay_radio4 {
  margin-top: -32px;
  padding-left: 1px;
  margin-right: -30px;
}

/* line 1697, ../sass/main.scss */
.main-content-top-left-box-bot {
  padding-top: 15px;
  padding-bottom: 0px;
  padding-left: 20px;
}

/* line 1703, ../sass/main.scss */
.main-content-top-left-box-pay {
  border-right: 1px solid #e4e3e3;
  margin-top: 0px;
  padding-bottom: 19px;
}

/* line 1709, ../sass/main.scss */
.fnt_16 {
  font-family: 'helvetica';
  font-size: 16px;
}

/* line 1715, ../sass/main.scss */
.fnt_17 {
  font-family: 'helvetica';
  font-size: 17px;
}

/* line 1720, ../sass/main.scss */
.fnt_aria_15 {
  font-family: 'arial';
  font-size: 15px;
}

/* line 1725, ../sass/main.scss */
.margin-top--10 {
  margin-top: -10px;
}

/* line 1729, ../sass/main.scss */
.fnt_21 {
  font-family: 'helvetica';
  font-size: 21px;
}

/* line 1734, ../sass/main.scss */
.fnt_22 {
  font-family: 'helvetica';
  font-size: 22px;
}

/* line 1739, ../sass/main.scss */
.total_price_row {
  padding-top: 21px;
  padding-bottom: 100px;
  border-bottom: 1px solid #ebebeb;
}

/****************************************** THANKS FOR ORDER PAGE *************************************/
/* line 1747, ../sass/main.scss */
.top_list_box {
  background-color: #f3f3f3;
  padding: 5px;
  border: 1px solid #e1e1e1;
  margin: 5px;
  padding-left: 5px;
  margin-bottom: 15px;
}

/* line 1756, ../sass/main.scss */
.padding-top-5 {
  padding-top: 5px;
}

/* line 1760, ../sass/main.scss */
.fnt_14 {
  font-family: 'helvetica';
  font-size: 14px;
}

/* line 1765, ../sass/main.scss */
.fnt_18 {
  font-family: 'helvetica';
  font-size: 18px;
}

/* line 1770, ../sass/main.scss */
.fnt_15 {
  font-family: 'helvetica';
  font-size: 15px;
}

/* line 1775, ../sass/main.scss */
.fnt_13 {
  font-family: 'helvetica';
  font-size: 13px;
}

/**************************************** ORDER REVIEW PAGE *******************************/
/* line 1782, ../sass/main.scss */
.order_review_main_content {
  background-color: white;
  border: 1px solid #f1f0f0;
  box-shadow: 2px 5px 4px #e0dfdf;
  padding: 20px 10px 30px 10px;
}

/* line 1789, ../sass/main.scss */
.order_review_header {
  -webkit-text-fill-color: #0091c5;
  -moz-text-fill-color: #0091c5;
  -o-text-fill-color: #0091c5;
  -ms-text-fill-color: #0091c5;
  color: #0091c5;
  margin-top: 10px;
  padding-bottom: 5PX;
  border-bottom: 1px solid #dce7f2;
}

/* line 1796, ../sass/main.scss */
.pic_view_box {
  border: 1px solid #eeedec;
  margin-left: 0px;
  margin-top: 10px;
  padding: 5px;
  padding-bottom: 25px;
}

/* line 1804, ../sass/main.scss */
.front {
  margin-bottom: 20px;
}

/* line 1808, ../sass/main.scss */
.bottom_list_box {
  border: 1px solid #eeedec;
  background-color: #f3f3f3;
  -webkit-text-fill-color: black;
  -moz-text-fill-color: black;
  -o-text-fill-color: black;
  -ms-text-fill-color: black;
  color: black;
  font-family: 'helvetica';
  font-size: 14px;
  margin-top: 20px;
  padding-top: 10px;
}

/* line 1818, ../sass/main.scss */
.order_detail_top_box {
  margin-top: 25px;
  border-bottom: 1px solid #dce7f2;
  padding-bottom: 20px;
}

/* line 1824, ../sass/main.scss */
.left_side_fnt_clr {
  -webkit-text-fill-color: #646262;
  -moz-text-fill-color: #646262;
  -o-text-fill-color: #646262;
  -ms-text-fill-color: #646262;
  color: #646262;
}

/* line 1828, ../sass/main.scss */
.margin-top-10 {
  margin-top: 10px;
}

/* line 1832, ../sass/main.scss */
.margin_left_70 {
  margin-left: 70px;
}

/* line 1836, ../sass/main.scss */
.select {
  -webkit-appearance: menulist;
  box-sizing: border-box;
  align-items: center;
  border: 1px solid;
  border-image-source: initial;
  border-image-slice: initial;
  border-image-width: initial;
  border-image-outset: initial;
  border-image-repeat: initial;
  white-space: pre;
  -webkit-rtl-ordering: logical;
  color: black;
  background-color: #f7f8f8;
  cursor: default;
}

/* line 1853, ../sass/main.scss */
.select_drop_down_design {
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  border-radius: 5px;
  border-radius: 5px;
  width: 187px;
  background-color: #f7f8f8;
  cursor: default;
  border: 1px solid  #969292;
}

/* line 1862, ../sass/main.scss */
.select_drop_down_design1 {
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  border-radius: 5px;
  border-radius: 5px;
  background-color: #f7f8f8;
  cursor: default;
  width: 137px;
  border: 1px solid  #969292;
}

/* line 1871, ../sass/main.scss */
.select_drop_down_design2 {
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  border-radius: 5px;
  border-radius: 5px;
  background-color: #f7f8f8;
  cursor: default;
  width: 178px;
  border: 1px solid  #969292;
}

/* line 1880, ../sass/main.scss */
.form_border_radius_none {
  border-radius: 0px;
}

/* line 1884, ../sass/main.scss */
.form-horizontal .control-label {
  text-align: left;
}

/* line 1888, ../sass/main.scss */
.margin_right_34 {
  margin-right: 34px;
}

/* line 1892, ../sass/main.scss */
.fnt_12 {
  font-family: 'helvetica';
  font-size: 12px;
}

/* line 1897, ../sass/main.scss */
.clr_light_grey {
  -webkit-text-fill-color: #a5a2a2;
  -moz-text-fill-color: #a5a2a2;
  -o-text-fill-color: #a5a2a2;
  -ms-text-fill-color: #a5a2a2;
  color: #a5a2a2;
}

/* line 1901, ../sass/main.scss */
.order_review_browse_btn {
  margin-right: 0px;
  margin-left: -1px;
  padding-left: 15px;
  padding-right: 15px;
}

/* line 1908, ../sass/main.scss */
.box_checkbox {
  background-color: #f4f4f4;
  border: 1px solid #e2e2e2;
  margin-right: 32px;
  padding-left: 15px;
}

/* line 1915, ../sass/main.scss */
.margin_right_23 {
  margin-right: 23px;
}

/* line 1919, ../sass/main.scss */
.fnt_20 {
  font-size: 20px;
  font-family: 'Helvetica';
}

/* line 1924, ../sass/main.scss */
.fnt_19 {
  font-size: 19px;
  font-family: 'Helvetica';
}

/***************************************** WEBSITE DESCRIPTION PAGE *****************************************/
/* line 1931, ../sass/main.scss */
.call_us_at_box {
  background-color: #f4f4f4;
  border: 1px solid #e4e4e4;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  border-radius: 5px;
  margin-left: 8px;
  margin-right: 8px;
  padding-top: 10px;
  padding-bottom: 10px;
}

/* line 1942, ../sass/main.scss */
.num_box {
  background-color: #54b5ca;
  /* Fallback Color */
  background-image: -webkit-gradient(linear, left top, left bottom, from(#7ccbdb), to(#54b5ca));
  /* Saf4+, Chrome */
  background-image: -webkit-gradient(top, #7ccbdb, #54b5ca);
  /* Chrome 10+, Saf5.1+, iOS 5+ */
  background: -moz-gradient(top, #7ccbdb, #54b5ca);
  /* FF3.6 */
  background: -ms-gradient(top, #7ccbdb, #54b5ca);
  /* IE10 */
  background-image: -o-gradient(top, #7ccbdb, #54b5ca);
  /* Opera 11.10+ */
  background-image: gradient(top, #7ccbdb, #54b5ca);
  filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0, StartColorStr='#7ccbdb', EndColorStr='#54b5ca');
  font-size: 23px;
  font-family: 'Helvetica';
  -webkit-text-fill-color: #164955;
  -moz-text-fill-color: #164955;
  -o-text-fill-color: #164955;
  -ms-text-fill-color: #164955;
  color: #164955;
  border: 1px solid #6db7c7;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  border-radius: 5px;
  margin-bottom: 10px;
  margin-top: 10px;
  padding-bottom: 10px;
}

/* line 1954, ../sass/main.scss */
.border_grey {
  border-top: 1px solid #ebebea;
  margin-top: 10px;
}

/* line 1959, ../sass/main.scss */
.request_form {
  margin: 8px;
}

/* line 1963, ../sass/main.scss */
.request_form_header {
  background-color: #94bc5a;
  -webkit-text-fill-color: #2f401b;
  -moz-text-fill-color: #2f401b;
  -o-text-fill-color: #2f401b;
  -ms-text-fill-color: #2f401b;
  color: #2f401b;
  font-size: 19px;
  font-family: 'Helvetica';
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  padding: 8px;
}

/* line 1973, ../sass/main.scss */
.border_green {
  border-top: 1px solid #7fa449;
  margin-top: 10px;
}

/* line 1978, ../sass/main.scss */
.request_form_content {
  background-color: #f4f4f4;
  border-bottom: 1px solid #e4e4e4;
  border-left: 1px solid #e4e4e4;
  border-right: 1px solid #e4e4e4;
  padding: 10px;
  font-size: 15px;
  font-family: 'Helvetica';
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

/***************************** REQUEST FOR WEBSITE TEMPLATE PAGE ***************************************/
/* line 1993, ../sass/main.scss */
.request_website_content {
  background-color: white;
  box-shadow: 2px 5px 4px #e0dfdf;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  border-bottom: 1px solid #e4e4e4;
  border-left: 1px solid #e4e4e4;
  border-right: 1px solid #e4e4e4;
  padding-top: 20px;
  padding-bottom: 60px;
  padding-left: 15px;
  padding-right: 15px;
}

/* line 2007, ../sass/main.scss */
.request_header {
  font-size: 21px;
  font-family: 'Helvetica';
  border-bottom: 1px solid #ebebea;
  margin-bottom: 10px;
  padding-bottom: 5px;
}

/* line 2015, ../sass/main.scss */
.call_us_at_box_website {
  background-color: #f4f4f4;
  border: 1px solid #e4e4e4;
  padding-top: 10px;
  padding-bottom: 30px;
}

/* line 2022, ../sass/main.scss */
.request_form_content_website {
  background-color: #f4f4f4;
  border: 1px solid #e4e4e4;
  padding: 10px;
  font-size: 15px;
  font-family: 'Helvetica';
}

/* line 2030, ../sass/main.scss */
.request_form_website {
  margin-bottom: 15px;
}

/*********************************************** SALE PAGE *************************************/
/* line 2036, ../sass/main.scss */
.margin_bottom_18 {
  margin-bottom: 18px;
}

/* line 2040, ../sass/main.scss */
.img_box {
  border: 1px solid #e6e5e5;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

/* line 2046, ../sass/main.scss */
.desc_box {
  background-color: #fdfeff;
  text-align: center;
  padding-bottom: 10px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  border-bottom: 1px solid #e6e5e5;
  border-left: 1px solid #e6e5e5;
  border-right: 1px solid #e6e5e5;
}

/* line 2057, ../sass/main.scss */
.sale_desc {
  font-size: 18px;
  font-family: 'Helvetica';
  font-weight: bold;
  padding-top: 10px;
  padding-bottom: 10px;
}

/* line 2066, ../sass/main.scss */
.code_box {
  background-color: #7dcddc;
  -webkit-text-fill-color: #224f58;
  -moz-text-fill-color: #224f58;
  -o-text-fill-color: #224f58;
  -ms-text-fill-color: #224f58;
  color: #224f58;
  margin-left: 20px;
  margin-right: 20px;
  padding: 5px;
}

/* line 2074, ../sass/main.scss */
.tag_red {
  position: absolute;
  top: 1px;
  left: 150px;
}

/* line 2080, ../sass/main.scss */
.sale_tag {
  font-family: Helvetica;
  font-weight: bold;
  -webkit-text-fill-color: white;
  -moz-text-fill-color: white;
  -o-text-fill-color: white;
  -ms-text-fill-color: white;
  color: white;
  font-size: 30px;
  position: absolute;
  top: 11px;
  left: 156px;
}

/******************************************* POS PAGE *******************************************************/
/* line 2092, ../sass/main.scss */
.bottom_box_pos {
  background-color: white;
  box-shadow: 2px 5px 4px #e0dfdf;
  padding: 25px;
  border: 1px solid #dfdfde;
  -webkit-text-fill-color: #434343;
  -moz-text-fill-color: #434343;
  -o-text-fill-color: #434343;
  -ms-text-fill-color: #434343;
  color: #434343;
}

/* line 2100, ../sass/main.scss */
.pos_img {
  border: 1px solid #dfdfde;
}

/* line 2104, ../sass/main.scss */
.bottom_header_POS {
  background-color: #a3c265;
  /* Fallback Color */
  background-image: -webkit-gradient(linear, left top, left bottom, from(#bad178), to(#a3c265));
  /* Saf4+, Chrome */
  background-image: -webkit-gradient(top, #bad178, #a3c265);
  /* Chrome 10+, Saf5.1+, iOS 5+ */
  background: -moz-gradient(top, #bad178, #a3c265);
  /* FF3.6 */
  background: -ms-gradient(top, #bad178, #a3c265);
  /* IE10 */
  background-image: -o-gradient(top, #bad178, #a3c265);
  /* Opera 11.10+ */
  background-image: gradient(top, #bad178, #a3c265);
  filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0, StartColorStr='#bad178', EndColorStr='#a3c265');
  border: 1px solid #a7c863;
  -webkit-text-fill-color: black;
  -moz-text-fill-color: black;
  -o-text-fill-color: black;
  -ms-text-fill-color: black;
  color: black;
  font-size: 17px;
  font-family: Helvetica;
  font-weight: bold;
  padding: 5px;
  padding-left: 25px;
}

/* line 2116, ../sass/main.scss */
.pos_bot_img_box {
  border: 1px solid #c7c6c6;
}

/* line 2120, ../sass/main.scss */
.desc_box_pos {
  background-color: #707070;
  /* Fallback Color */
  background-image: -webkit-gradient(linear, left top, left bottom, from(#929292), to(#707070));
  /* Saf4+, Chrome */
  background-image: -webkit-gradient(top, #929292, #707070);
  /* Chrome 10+, Saf5.1+, iOS 5+ */
  background: -moz-gradient(top, #929292, #707070);
  /* FF3.6 */
  background: -ms-gradient(top, #929292, #707070);
  /* IE10 */
  background-image: -o-gradient(top, #929292, #707070);
  /* Opera 11.10+ */
  background-image: gradient(top, #929292, #707070);
  filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0, StartColorStr='#929292', EndColorStr='#707070');
  font-size: 13px;
  font-family: Helvetica;
  font-weight: bold;
  -webkit-text-fill-color: white;
  -moz-text-fill-color: white;
  -o-text-fill-color: white;
  -ms-text-fill-color: white;
  color: white;
  padding: 5px;
  padding-left: 10px;
}

/* line 2130, ../sass/main.scss */
.padding_bottom_50 {
  padding-bottom: 50px;
}

/**************************************************** CONTACT PAGE **********************************/
/* line 2136, ../sass/main.scss */
.contact_content {
  background-color: white;
  box-shadow: 2px 5px 4px #e0dfdf;
  border-bottom-left-radius: 7px;
  border-bottom-right-radius: 7px;
}

/* line 2144, ../sass/main.scss */
.google_map {
  margin-bottom: 30px;
}

/* line 2149, ../sass/main.scss */
.contact_info {
  margin-bottom: 10px;
}

/* line 2153, ../sass/main.scss */
.contact_header {
  font-size: 22px;
  font-family: Helvetica;
  margin-top: 20px;
}

/* line 2159, ../sass/main.scss */
.clr_skyblue {
  color: #52b3c9;
}

/* line 2163, ../sass/main.scss */
.border_grey_line_width {
  width: 41%;
  margin-left: 35px;
}

/* line 2168, ../sass/main.scss */
.contact_info_detail {
  margin-left: 35px;
  margin-right: 35px;
  padding-bottom: 50px;
}

/* line 2174, ../sass/main.scss */
.badge_cstm {
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  -ms-border-radius: 50px;
  border-radius: 50px;
  padding: 29px 38px;
  background-color: #a2c265;
  /* Fallback Color */
  background-image: -webkit-gradient(linear, left top, left bottom, from(#b8cf79), to(#a2c265));
  /* Saf4+, Chrome */
  background-image: -webkit-gradient(top, #b8cf79, #a2c265);
  /* Chrome 10+, Saf5.1+, iOS 5+ */
  background: -moz-gradient(top, #b8cf79, #a2c265);
  /* FF3.6 */
  background: -ms-gradient(top, #b8cf79, #a2c265);
  /* IE10 */
  background-image: -o-gradient(top, #b8cf79, #a2c265);
  /* Opera 11.10+ */
  background-image: gradient(top, #b8cf79, #a2c265);
  filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0, StartColorStr='#b8cf79', EndColorStr='#a2c265');
}

/* line 2180, ../sass/main.scss */
.heading {
  font-size: 15px;
  font-family: Helvetica;
  -webkit-text-fill-color: #515252;
  -moz-text-fill-color: #515252;
  -o-text-fill-color: #515252;
  -ms-text-fill-color: #515252;
  color: #515252;
}

/* line 2186, ../sass/main.scss */
.badge_cstm2 {
  padding: 29px 29px;
}

/* line 2190, ../sass/main.scss */
.badge_cstm3 {
  padding: 33px 29px;
}

/* line 2194, ../sass/main.scss */
.add_detail {
  font-size: 15px;
  font-family: Helvetica;
  font-weight: lighter;
}

/* line 2200, ../sass/main.scss */
.margin_left_10 {
  margin-left: 10px;
}

/* line 2204, ../sass/main.scss */
.cnt_form a {
  color: #FFF;
}

/* line 2208, ../sass/main.scss */
.cnt_form {
  color: #FFF;
}

/* line 2212, ../sass/main.scss */
.form_div {
  padding-bottom: 30px;
}

/* line 2216, ../sass/main.scss */
.padding_bottom_30 {
  padding-bottom: 30px;
}

/************************************** WITH DNLD BTN ************************************/
/* line 2223, ../sass/main.scss */
.top_list_box_dnld_btn {
  background-color: #f3f3f3;
  border: 1px solid #e1e1e1;
  font-size: 14px;
  font-family: Helvetica;
  color: #000;
}

/* line 2231, ../sass/main.scss */
.margin_left_-17 {
  margin-left: -17px;
}

/* line 2236, ../sass/main.scss */
.upload_ur_own_heading_dnld_btn {
  margin-top: 20px;
  padding-bottom: 5px;
  border-bottom: 1px solid #f1f0f0;
  margin-bottom: 10px;
  margin-left: -8px;
  margin-right: -8px;
  padding-left: 13px;
}

/* line 2246, ../sass/main.scss */
.dnld_btn {
  padding: 30px 15px 25px 15px;
  margin-top: 15px;
}

/* line 2251, ../sass/main.scss */
.bot_text {
  -webkit-text-fill-color: dimgrey;
  -moz-text-fill-color: dimgrey;
  -o-text-fill-color: dimgrey;
  -ms-text-fill-color: dimgrey;
  color: dimgrey;
}

/* line 2255, ../sass/main.scss */
.dnld_bnt_skyblue {
  background-color: #58b7cc;
  /* Fallback Color */
  background-image: -webkit-gradient(linear, left top, left bottom, from(#7acbdc), to(#58b7cc));
  /* Saf4+, Chrome */
  background-image: -webkit-gradient(top, #7acbdc, #58b7cc);
  /* Chrome 10+, Saf5.1+, iOS 5+ */
  background: -moz-gradient(top, #7acbdc, #58b7cc);
  /* FF3.6 */
  background: -ms-gradient(top, #7acbdc, #58b7cc);
  /* IE10 */
  background-image: -o-gradient(top, #7acbdc, #58b7cc);
  /* Opera 11.10+ */
  background-image: gradient(top, #7acbdc, #58b7cc);
  filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0, StartColorStr='#7acbdc', EndColorStr='#58b7cc');
  -webkit-text-fill-color: white;
  -moz-text-fill-color: white;
  -o-text-fill-color: white;
  -ms-text-fill-color: white;
  color: white;
  font-size: 14px;
  font-family: Helvetica;
  border: 1px solid #61b2c2;
}

/********************************************** PAGE NOT FOUND (404) *******************************/
/* line 2265, ../sass/main.scss */
.page_nt_found_content {
  background-color: white;
  font-size: 36px;
  font-family: 'Helvetica';
  box-shadow: 1px 2px 4px #c1c0c0;
  border: 1px solid #c5c5c4;
}

/* line 2274, ../sass/main.scss */
.displayt_modal {
  display: block;
}

/************************************ Re - Enter PassWord Page *************************************/
/* line 2281, ../sass/main.scss */
.re_enter_pas_header {
  -webkit-text-fill-color: black;
  -moz-text-fill-color: black;
  -o-text-fill-color: black;
  -ms-text-fill-color: black;
  color: black;
  margin-top: 20px;
  font-size: 18px;
  font-family: 'Helvetica';
  font-weight: bold;
}

/* line 2290, ../sass/main.scss */
.re-enter-pass_content {
  margin-top: 5px;
}

/*************************** Languge Select Button **************************************************/
/* line 2298, ../sass/main.scss */
.lag_select_li {
  min-width: 102px;
  font-size: 13px;
  border-radius: 0px;
  margin: 0px;
  float: none;
  left: 41px;
}

@media (min-width: 1200px) and (max-width: 1399px) {
  /* Styles */
  /* line 2311, ../sass/main.scss */
  .lag_select_li {
    min-width: 102px;
    font-size: 13px;
    border-radius: 0px;
    margin: 0px;
    float: none;
    left: 41px;
  }
}
@media (min-width: 1400px) and (max-width: 1499px) {
  /* Styles */
  /* line 2325, ../sass/main.scss */
  .lag_select_li {
    min-width: 102px;
    font-size: 13px;
    border-radius: 0px;
    margin: 0px;
    float: none;
    left: 43px;
  }
}
@media (min-width: 1500px) and (max-width: 1699px) {
  /* Styles */
  /* line 2339, ../sass/main.scss */
  .lag_select_li {
    min-width: 102px;
    font-size: 13px;
    border-radius: 0px;
    margin: 0px;
    float: none;
    left: 48px;
  }
}
@media (min-width: 1700px) and (max-width: 1823px) {
  /* Styles */
  /* line 2352, ../sass/main.scss */
  .lag_select_li {
    min-width: 102px;
    font-size: 13px;
    border-radius: 0px;
    margin: 0px;
    float: none;
    left: 61px;
  }
}
/* Large screens ----------- */
@media only screen and (min-width: 1824px) {
  /* Styles */
  /* line 2368, ../sass/main.scss */
  .lag_select_li {
    min-width: 102px;
    font-size: 13px;
    border-radius: 0px;
    margin: 0px;
    float: none;
    left: 61px;
  }
}
/* line 2378, ../sass/main.scss */
.lag_select_li > li > a {
  padding: 0px;
}

/* line 2383, ../sass/main.scss */
.nav_bot_btn a {
  text-decoration: none;
}

/* line 2387, ../sass/main.scss */
.margin_top_42 {
  margin-top: 42px;
}

/* line 2391, ../sass/main.scss */
.margin_top_40 {
  margin-top: 40px;
}

/* line 2395, ../sass/main.scss */
.great-deal-slider {
  margin-top: 27px;
}

/* line 2399, ../sass/main.scss */
.margin_left_48 {
  margin-left: 48px;
}

/* line 2403, ../sass/main.scss */
.lag_btn {
  padding: 5px 3px;
  background-color: #fff;
  border-color: #ccc;
  border-radius: 5px;
  width: 148px;
}

/* line 2411, ../sass/main.scss */
.lag_btn a {
  text-decoration: none;
}

/* line 2415, ../sass/main.scss */
.term_condition_box {
  background-color: #f3f3f3;
  border: 1px solid #cdcccc;
  -webkit-text-fill-color: #686868;
  -moz-text-fill-color: #686868;
  -o-text-fill-color: #686868;
  -ms-text-fill-color: #686868;
  color: #686868;
  margin-top: 15px;
  margin-right: 35px;
  font-size: 12px;
  font-family: 'Helvetica';
  padding: 10px;
}

/* line 2426, ../sass/main.scss */
.term_condition_box a {
  text-decoration: underline;
  -webkit-text-fill-color: black;
  -moz-text-fill-color: black;
  -o-text-fill-color: black;
  -ms-text-fill-color: black;
  color: black;
  font-weight: bold;
}

/* line 2432, ../sass/main.scss */
.backgroung_clr_purple {
  background-color: #663399;
}

/* line 2436, ../sass/main.scss */
.clr_white {
  -webkit-text-fill-color: white;
  -moz-text-fill-color: white;
  -o-text-fill-color: white;
  -ms-text-fill-color: white;
  color: white;
}

/* line 2440, ../sass/main.scss */
.margin_top_-5 {
  margin-top: -5px;
}

/* line 2444, ../sass/main.scss */
.flower_pot {
  position: absolute;
  left: 724px;
  z-index: 9999;
}

@media (min-width: 1200px) and (max-width: 1429px) {
  /* Styles */
  /* line 2452, ../sass/main.scss */
  .flower_pot {
    position: absolute;
    left: 723px;
    z-index: 9999;
  }
}
@media (min-width: 1430px) and (max-width: 1499px) {
  /* Styles */
  /* line 2463, ../sass/main.scss */
  .flower_pot {
    position: absolute;
    left: 750px;
    z-index: 9999;
  }

  /* line 2469, ../sass/main.scss */
  .desc {
    margin-top: 10px;
    min-height: 115px;
  }
}
@media (min-width: 1500px) and (max-width: 1823px) {
  /* Styles */
  /* line 2479, ../sass/main.scss */
  .flower_pot {
    position: absolute;
    left: 767px;
    z-index: 9999;
  }

  /* line 2485, ../sass/main.scss */
  .desc {
    margin-top: 10px;
    min-height: 115px;
  }
}
/* Large screens ----------- */
@media only screen and (min-width: 1824px) {
  /* Styles */
  /* line 2497, ../sass/main.scss */
  .flower_pot {
    position: absolute;
    left: 880px;
    z-index: 9999;
  }

  /* line 2503, ../sass/main.scss */
  .desc {
    margin-top: 10px;
    min-height: 125px;
  }
}
/* line 2511, ../sass/main.scss */
.panel-group {
  margin-bottom: 0px;
}

/* line 2515, ../sass/main.scss */
.home_accordian {
  padding: 0px;
  border: 0px;
}
